# üìä Bolet√≠n de Ejercicios 3: SQL con Python

## Trabajando con Bases de Datos Relacionales

**Objetivo:** Dominar la integraci√≥n de SQL con Python para manipular y consultar bases de datos.

**Instrucciones:**
- En este bolet√≠n trabajar√°s con SQLite, una base de datos ligera incluida con Python
- Aprender√°s a crear bases de datos, ejecutar consultas SQL y combinar con Pandas
- Los ejercicios simulan escenarios reales de an√°lisis de datos empresariales
- üü¢ = B√°sico | üü° = Intermedio | üî¥ = Avanzado

---

In [1]:
# Importar librer√≠as necesarias
import sqlite3
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

print("Librer√≠as importadas correctamente")
print(f"Pandas versi√≥n: {pd.__version__}")

Librer√≠as importadas correctamente
Pandas versi√≥n: 2.3.3

## üü¢ Ejercicio 1: Tu Primera Base de Datos

Crea una base de datos SQLite llamada `tienda.db` y una tabla `productos` con los siguientes campos:
- `id` (INTEGER, clave primaria)
- `nombre` (TEXT)
- `precio` (REAL)
- `stock` (INTEGER)

Luego:
1. Inserta 5 productos de ejemplo:

| id | nombre | precio | stock |
|----|--------|--------|-------|
| 1 | Laptop | 899.99 | 25 |
| 2 | Mouse | 29.99 | 100 |
| 3 | Teclado | 59.99 | 75 |
| 4 | Monitor | 349.99 | 30 |
| 5 | Webcam | 79.99 | 50 |

2. Consulta todos los productos
3. Muestra los resultados en un DataFrame de Pandas

In [5]:
# Tu c√≥digo aqu√≠

import sqlite3
import pandas as pd

# CONEXION A BASE DE DATOS SQLITE
con = sqlite3.connect('tienda.db')
cursor = con.cursor()

# CREAR TABLA 
cursor.execute('DROP TABLE IF EXISTS productos')
cursor.execute('''
CREATE TABLE  productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    precio REAL,
    cantidad INTEGER
)
''')

# INSERTAR PRODUCTOS 
productos = [
    (1, 'Laptop', 899.99, 25),
    (2, 'Mouse', 29.99, 100),
    (3, 'Teclado', 59.99, 75),
    (4, 'Monitor', 349.99, 30),
    (5, 'Webcam', 79.99, 50)
]

cursor.executemany('INSERT INTO productos VALUES (?,?,?,?)', productos)
con.commit()

# CONSULTAR PRODUCTOS
query = 'SELECT * FROM productos'
df = pd.read_sql_query(query, con)

con.close()

print(df)

   id   nombre  precio  cantidad
0   1   Laptop  899.99        25
1   2    Mouse   29.99       100
2   3  Teclado   59.99        75
3   4  Monitor  349.99        30
4   5   Webcam   79.99        50

## üü¢ Ejercicio 2: Consultas B√°sicas (SELECT, WHERE)

Usando la base de datos del ejercicio anterior:

1. Consulta todos los productos con precio mayor a 50‚Ç¨
2. Consulta productos con stock menor a 20 unidades
3. Consulta el producto m√°s caro
4. Cuenta cu√°ntos productos hay en total

Muestra cada resultado en un DataFrame.

In [8]:
# Tu c√≥digo aqu√≠

import sqlite3
import pandas as pd

# CONEXION A BASE DE DATOS SQLITE
con = sqlite3.connect('tienda.db')
cursor = con.cursor()

# CREAR TABLA 
cursor.execute('DROP TABLE IF EXISTS productos')
cursor.execute('''
CREATE TABLE  productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    precio REAL,
    cantidad INTEGER
)
''')

# INSERTAR PRODUCTOS 
productos = [
    (1, 'Laptop', 899.99, 25),
    (2, 'Mouse', 29.99, 100),
    (3, 'Teclado', 59.99, 75),
    (4, 'Monitor', 349.99, 30),
    (5, 'Webcam', 79.99, 50)
]

cursor.executemany('INSERT INTO productos VALUES (?,?,?,?)', productos)
con.commit()

# CONSULTAR PRODUCTOS
# 1. Consulta todos los productos con precio mayor a 50‚Ç¨
query1 = 'SELECT * FROM productos WHERE precio > 50'
df1 = pd.read_sql_query(query1, con)
print("Productos con precio mayor a 50‚Ç¨:")
print(df1)

print("-------------------------------")
# 2. Consulta productos con stock menor a 20 unidades
query2 = 'SELECT * FROM productos WHERE cantidad < 20'
df2 = pd.read_sql_query(query2, con)
print("Productos con stock menor a 20 unidades:")
print(df2)

print("-------------------------------")
# 3. Consulta el producto m√°s caro
query3 = 'SELECT * FROM productos ORDER BY precio DESC LIMIT 1'
df3 = pd.read_sql_query(query3, con)
print("Producto m√°s caro:")
print(df3)
print("-------------------------------")
# 4. Cuenta cu√°ntos productos hay en total
query4 = 'SELECT COUNT(*) as total_productos FROM productos'
df4 = pd.read_sql_query(query4, con)
print("Total de productos en la tienda:")
print(df4)

Productos con precio mayor a 50‚Ç¨:
   id   nombre  precio  cantidad
0   1   Laptop  899.99        25
1   3  Teclado   59.99        75
2   4  Monitor  349.99        30
3   5   Webcam   79.99        50
-------------------------------
Productos con stock menor a 20 unidades:
Empty DataFrame
Columns: [id, nombre, precio, cantidad]
Index: []
-------------------------------
Producto m√°s caro:
   id  nombre  precio  cantidad
0   1  Laptop  899.99        25
-------------------------------
Total de productos en la tienda:
   total_productos
0                5

## üü¢ Ejercicio 3: Actualizar y Eliminar Datos

Realiza las siguientes operaciones:

1. **UPDATE:** Aumenta el precio de todos los productos en un 10%
2. **UPDATE:** Reduce el stock del producto 'Mouse' en 5 unidades
3. **DELETE:** Elimina productos con stock igual a 0
4. Verifica los cambios consultando toda la tabla

In [10]:
# Tu c√≥digo aqu√≠

import sqlite3
import pandas as pd

# CONEXION A BASE DE DATOS SQLITE
con = sqlite3.connect('tienda.db')
cursor = con.cursor()

# CREAR TABLA 
cursor.execute('DROP TABLE IF EXISTS productos')
cursor.execute('''
CREATE TABLE  productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT,
    precio REAL,
    cantidad INTEGER
)
''')

# INSERTAR PRODUCTOS 
productos = [
    (1, 'Laptop', 899.99, 25),
    (2, 'Mouse', 29.99, 100),
    (3, 'Teclado', 59.99, 75),
    (4, 'Monitor', 349.99, 30),
    (5, 'Webcam', 79.99, 50)
]

cursor.executemany('INSERT INTO productos VALUES (?,?,?,?)', productos)
con.commit()

# 1. **UPDATE:** Aumenta el precio de todos los productos en un 10%
cursor.execute('UPDATE productos SET precio = precio * 1.10')
con.commit()
# 2. **UPDATE:** Reduce el stock del producto 'Mouse' en 5 unidades
cursor.execute('UPDATE productos SET cantidad = cantidad - 5 WHERE nombre = "Mouse"')
con.commit()
# 3. **DELETE:** Elimina productos con stock igual a 0
cursor.execute('DELETE FROM productos WHERE cantidad = 0')
con.commit()
# 4. Verifica los cambios consultando toda la tabla
query = 'SELECT * FROM productos'
df = pd.read_sql_query(query, con)
con.close()
print("Tabla alctual:")
print(df)

Tabla alctual:
   id   nombre   precio  cantidad
0   1   Laptop  989.989        25
1   2    Mouse   32.989        95
2   3  Teclado   65.989        75
3   4  Monitor  384.989        30
4   5   Webcam   87.989        50

## üü° Ejercicio 4: Crear una Base de Datos Completa

Crea una nueva base de datos `empresa.db` con las siguientes tablas:

**Tabla `departamentos`:**
- id (INTEGER PRIMARY KEY)
- nombre (TEXT)
- presupuesto (REAL)

**Tabla `empleados`:**
- id (INTEGER PRIMARY KEY)
- nombre (TEXT)
- departamento_id (INTEGER, FOREIGN KEY ‚Üí departamentos.id)
- salario (REAL)
- fecha_ingreso (TEXT)


Luego:
1. Crea ambas tablas
2. Inserta 3 departamentos (IT, Ventas, Marketing)
3. Inserta 6 empleados distribuidos en los departamentos
4. Verifica que los datos se insertaron correctamente

In [14]:
# Tu c√≥digo aqu√≠

import sqlite3
import pandas as pd

# Conexion 
con = sqlite3.connect('empresa.db')
cursor = con.cursor()

# activar claves foraneas 
cursor.execute('PRAGMA foreign_keys = ON;')

# Creacion de tablas 
cursor.execute('DROP TABLE IF EXISTS departamentos')
cursor.execute('DROP TABLE IF EXISTS empleados') 

# tabla departamentos 
cursor.execute('''
CREATE TABLE departamentos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    presupuesto REAL NOT NULL
    )
''')

# tabla empleados 
cursor.execute('''
CREATE TABLE empleados (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    salario REAL NOT NULL,
    departamento_id INTEGER,
    FOREIGN KEY (departamento_id) REFERENCES departamentos(id)
)
''')
# insertar departamentos  
departamentos = [
    (1, 'Recursos Humanos', 50000),
    (2, 'Desarrollo', 150000),
    (3, 'Ventas', 100000)
]

# insertar empleados 
empleados = [
    (1, 'Ana', 60000, 2),
    (2, 'Luis', 45000, 1),
    (3, 'Marta', 70000, 3),
    (4, 'Carlos', 50000, 2),
    (5, 'Sof√≠a', 40000, 1)
]
cursor.executemany('INSERT INTO departamentos VALUES (?,?,?)', departamentos)
cursor.executemany('INSERT INTO empleados VALUES (?,?,?,?)', empleados)
con.commit()

# Consulta con JOIN
query = '''
SELECT e.nombre AS empleado, e.salario, d.nombre AS departamento
FROM empleados e
JOIN departamentos d ON e.departamento_id = d.id
'''
resultado = pd.read_sql_query(query, con)
con.close()
print("Empleados con sus departamentos:")
print(resultado)

Empleados con sus departamentos:
  empleado  salario      departamento
0      Ana  60000.0        Desarrollo
1     Luis  45000.0  Recursos Humanos
2    Marta  70000.0            Ventas
3   Carlos  50000.0        Desarrollo
4    Sof√≠a  40000.0  Recursos Humanos

## üü° Ejercicio 5: Consultas con JOIN

Usando la base de datos `empresa.db` del ejercicio anterior:

1. Realiza un JOIN entre empleados y departamentos para mostrar:
   - Nombre del empleado
   - Salario
   - Nombre del departamento

2. Calcula el salario promedio por departamento

3. Encuentra el departamento con mayor gasto en salarios (suma de salarios)

4. Lista empleados que ganan m√°s que el promedio de su departamento

In [17]:
# Tu c√≥digo aqu√≠


import sqlite3
import pandas as pd

# Conexion 
con = sqlite3.connect('empresa.db')
cursor = con.cursor()

# activar claves foraneas 
cursor.execute('PRAGMA foreign_keys = ON;')

# Creacion de tablas 
cursor.execute('DROP TABLE IF EXISTS empleados') 
cursor.execute('DROP TABLE IF EXISTS departamentos')

# tabla departamentos 
cursor.execute('''
CREATE TABLE departamentos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    presupuesto REAL NOT NULL
    )
''')

# tabla empleados 
cursor.execute('''
CREATE TABLE empleados (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    salario REAL NOT NULL,
    departamento_id INTEGER,
    FOREIGN KEY (departamento_id) REFERENCES departamentos(id)
)
''')
# insertar departamentos  
departamentos = [
    (1, 'Recursos Humanos', 50000),
    (2, 'Desarrollo', 150000),
    (3, 'Ventas', 100000)
]

# insertar empleados 
empleados = [
    (1, 'Ana', 60000, 2),
    (2, 'Luis', 45000, 1),
    (3, 'Marta', 70000, 3),
    (4, 'Carlos', 50000, 2),
    (5, 'Sof√≠a', 40000, 1)
]
cursor.executemany('INSERT INTO departamentos VALUES (?,?,?)', departamentos)
cursor.executemany('INSERT INTO empleados VALUES (?,?,?,?)', empleados)
con.commit()

# 1. Realiza un JOIN entre empleados y departamentos para mostrar:
#    - Nombre del empleado
#    - Salario
#    - Nombre del departamento
query1 = '''
SELECT e.nombre AS empleado, e.salario, d.nombre AS departamento
FROM empleados e
JOIN departamentos d ON e.departamento_id = d.id
'''
resultado1 = pd.read_sql_query(query1, con)
print("JOIN entre empleados y departamentos:")
print(resultado1)

# 2. Calcula el salario promedio por departamento
query2 = '''
SELECT d.nombre AS departamento, AVG(e.salario) AS salario_promedio
FROM empleados e
JOIN departamentos d ON e.departamento_id = d.id
GROUP BY d.id
'''
resultado2 = pd.read_sql_query(query2, con)
print("Salario promedio por departamento:")
print(resultado2)

# 3. Encuentra el departamento con mayor gasto en salarios (suma de salarios)
query3 = '''
SELECT d.nombre AS departamento, SUM(e.salario) AS gasto_total
FROM empleados e
JOIN departamentos d ON e.departamento_id = d.id
GROUP BY d.id
ORDER BY gasto_total DESC
LIMIT 1
'''
resultado3 = pd.read_sql_query(query3, con)
print("Departamento con mayor gasto en salarios:")
print(resultado3)

# 4. Lista empleados que ganan m√°s que el promedio de su departamento
query4 = '''
SELECT e.nombre AS empleado, e.salario, d.nombre AS departamento
FROM empleados e
JOIN departamentos d ON e.departamento_id = d.id
WHERE e.salario > (
    SELECT AVG(salario)
    FROM empleados
    WHERE departamento_id = e.departamento_id
)
'''
resultado4 = pd.read_sql_query(query4, con)
print("Empleados que ganan m√°s que el promedio de su departamento:")
print(resultado4)

JOIN entre empleados y departamentos:
  empleado  salario      departamento
0      Ana  60000.0        Desarrollo
1     Luis  45000.0  Recursos Humanos
2    Marta  70000.0            Ventas
3   Carlos  50000.0        Desarrollo
4    Sof√≠a  40000.0  Recursos Humanos
Salario promedio por departamento:
       departamento  salario_promedio
0  Recursos Humanos           42500.0
1        Desarrollo           55000.0
2            Ventas           70000.0
Departamento con mayor gasto en salarios:
  departamento  gasto_total
0   Desarrollo     110000.0
Empleados que ganan m√°s que el promedio de su departamento:
  empleado  salario      departamento
0      Ana  60000.0        Desarrollo
1     Luis  45000.0  Recursos Humanos

## üü° Ejercicio 6: Insertar Datos desde Pandas

Crea un DataFrame de Pandas con datos de ventas:

```python
ventas_df = pd.DataFrame({
    'fecha': pd.date_range('2025-01-01', periods=20, freq='D'),
    'producto': np.random.choice(['Laptop', 'Mouse', 'Teclado'], 20),
    'cantidad': np.random.randint(1, 10, 20),
    'precio_unitario': np.random.choice([599.99, 19.99, 45.50], 20)
})
```

Luego:
1. Crea una base de datos `ventas.db` con una tabla `ventas`
2. Inserta el DataFrame completo en la tabla usando `.to_sql()`
3. Consulta las primeras 5 filas desde la base de datos
4. Calcula el ingreso total (cantidad √ó precio_unitario) usando SQL

In [18]:
import sqlite3
import pandas as pd
import numpy as np

# Crear el DataFrame
np.random.seed(42)
ventas_df = pd.DataFrame({
    'fecha': pd.date_range('2025-01-01', periods=20, freq='D'),
    'producto': np.random.choice(['Laptop', 'Mouse', 'Teclado'], 20),
    'cantidad': np.random.randint(1, 10, 20),
    'precio_unitario': np.random.choice([599.99, 19.99, 45.50], 20)
})

# Tu c√≥digo aqu√≠

# Conexion 
con = sqlite3.connect('ventas.db')
cursor = con.cursor()

# Insertar el DataFrame en una tabla SQL 
ventas_df.to_sql('ventas', con, if_exists='replace', index=False)

# Consulta la primeras 5 filas 
query5 = 'SELECT * FROM ventas LIMIT 5'
primeras_filas = pd.read_sql_query(query5, con)
print("Primeras 5 filas de la tabla ventas:")
print(primeras_filas)

print("-------------------------------")

# ingreso total 
queryIngreso = "SELECT SUM(cantidad * precio_unitario) AS ingreso_total FROM ventas"
ingreso_total = pd.read_sql_query(queryIngreso, con)
print("Ingreso total generado por todas las ventas:")
print(ingreso_total)

con.close()

Primeras 5 filas de la tabla ventas:
                 fecha producto  cantidad  precio_unitario
0  2025-01-01 00:00:00  Teclado         5            19.99
1  2025-01-02 00:00:00   Laptop         1           599.99
2  2025-01-03 00:00:00  Teclado         6            19.99
3  2025-01-04 00:00:00  Teclado         9           599.99
4  2025-01-05 00:00:00   Laptop         1            19.99
-------------------------------
Ingreso total generado por todas las ventas:
   ingreso_total
0       13600.21

## üî¥ Ejercicio 7: An√°lisis de E-commerce (Caso Real)

Crea una base de datos `ecommerce.db` con 3 tablas relacionadas:

**Tabla `clientes`:**
- cliente_id (INTEGER PRIMARY KEY)
- nombre (TEXT)
- email (TEXT)
- ciudad (TEXT)

**Tabla `productos`:**
- producto_id (INTEGER PRIMARY KEY)
- nombre (TEXT)
- categoria (TEXT)
- precio (REAL)

**Tabla `pedidos`:**
- pedido_id (INTEGER PRIMARY KEY)
- cliente_id (INTEGER, FOREIGN KEY ‚Üí clientes.cliente_id)
- producto_id (INTEGER, FOREIGN KEY ‚Üí productos.producto_id)
- cantidad (INTEGER)
- fecha (TEXT)

Luego realiza:
1. Inserta datos de ejemplo (al menos 5 clientes, 8 productos, 15 pedidos)
2. Consulta el historial de compras de un cliente espec√≠fico
3. Calcula el total gastado por cada cliente
4. Encuentra los 3 productos m√°s vendidos
5. Calcula las ventas totales por categor√≠a de producto

In [19]:
# Tu c√≥digo aqu√≠
import sqlite3
import pandas as pd

# Conexion 
con = sqlite3.connect('ecommerce.db')
cursor = con.cursor()
cursor.execute('PRAGMA foreign_keys = ON;')

# Borrado de tablas si existen 
cursor.execute('DROP TABLE IF EXISTS clientes')
cursor.execute('DROP TABLE IF EXISTS pedidos')
cursor.execute('DROP TABLE IF EXISTS productos')

# Creacion de tablas 
cursor.execute('''
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    email TEXT,
    ciudad TEXT
)
''')
cursor.execute('''
CREATE TABLE productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    categoria TEXT,
    precio REAL
)
''')

cursor.execute('''
CREATE TABLE pedidos (
    pedido_id INTEGER PRIMARY KEY,
    cliente_id INTEGER,
    producto_id INTEGER,
    cantidad INTEGER,
    fecha TEXT,
    FOREIGN KEY (cliente_id) REFERENCES clientes(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
)
''')

# insercion de datos 
clientes = [
    (1, 'Juan Perez', 'juan@example.com', 'Dos hermanas'),
    (2, 'Maria Lopez', 'maria@example.com', 'Alcala de Guadaira'),
    (3, 'Carlos Ruiz', 'carlos@example.com', 'Sevilla'),
    (4, 'Ana Gomez', 'ana@example.com', 'Dos hermanas'),
    (5, 'Luis Fernandez', 'luis@example.com', 'Coria del Rio'),
]

productos = [
    (1, 'Laptop', 'Electr√≥nica', 899.99),
    (2, 'Mouse', 'Electr√≥nica', 29.99),
    (3, 'Teclado', 'Electr√≥nica', 59.99),
    (4, 'Monitor', 'Electr√≥nica', 349.99),
    (5, 'Webcam', 'Electr√≥nica', 79.99),
]

pedidos = [
    (1, 1, 1, 1, '2025-01-10'),
    (2, 2, 2, 2, '2025-01-11'),
    (3, 3, 3, 1, '2025-01-12'),
    (4, 4, 4, 1, '2025-01-13'),
    (5, 5, 5, 3, '2025-01-14'),
    (6, 1, 2, 1, '2025-01-15'),
    (7, 2, 3, 2, '2025-01-16'),
    (8, 3, 4, 1, '2025-01-17'),
    (9, 4, 5, 1, '2025-01-18'),
    (10, 5, 1, 1, '2025-01-19'),
]

# Insertar datos
cursor.executemany('INSERT INTO clientes VALUES (?, ?, ?, ?)', clientes)
cursor.executemany('INSERT INTO productos VALUES (?, ?, ?, ?)', productos)
cursor.executemany('INSERT INTO pedidos VALUES (?, ?, ?, ?, ?)', pedidos)
con.commit()

# Total de gastos por cada cliente 
queryGastos = '''
SELECT c.nombre AS cliente, SUM(p.precio * pe.cantidad) AS total_gastos
FROM clientes c
JOIN pedidos pe ON c.id = pe.cliente_id
JOIN productos p ON pe.producto_id = p.id
GROUP BY c.nombre
ORDER BY total_gastos DESC
'''
gastos_clientes = pd.read_sql_query(queryGastos, con)
print("Total de gastos por cada cliente:")
print(gastos_clientes)
print("-------------------------------")

# 3 productos mas vendidos 
queryProductos = '''
SELECT p.nombre AS producto, SUM(pe.cantidad) AS total_vendido
FROM productos p
JOIN pedidos pe ON p.id = pe.producto_id
GROUP BY p.nombre
ORDER BY total_vendido DESC
LIMIT 3
'''
productos_mas_vendidos = pd.read_sql_query(queryProductos, con)
print("3 productos m√°s vendidos:")
print(productos_mas_vendidos)
print("-------------------------------")

# ventas totales por caregorias
queryCategorias = '''
SELECT p.categoria, SUM(pe.cantidad * p.precio) AS ventas_totales
FROM productos p
JOIN pedidos pe ON p.id = pe.producto_id
GROUP BY p.categoria
ORDER BY ventas_totales DESC
'''
ventas_por_categoria = pd.read_sql_query(queryCategorias, con)
print("Ventas totales por categor√≠a de producto:")
print(ventas_por_categoria)
con.close()

Total de gastos por cada cliente:
          cliente  total_gastos
0  Luis Fernandez       1139.96
1      Juan Perez        929.98
2       Ana Gomez        429.98
3     Carlos Ruiz        409.98
4     Maria Lopez        179.96
-------------------------------
3 productos m√°s vendidos:
  producto  total_vendido
0   Webcam              4
1  Teclado              3
2    Mouse              3
-------------------------------
Ventas totales por categor√≠a de producto:
     categoria  ventas_totales
0  Electr√≥nica         3089.86

## üî¥ Ejercicio 8: Funciones de Agregaci√≥n Avanzadas

Usando la base de datos `ecommerce.db` del ejercicio anterior:

1. Calcula el ticket promedio (monto promedio por pedido)
2. Encuentra el cliente que m√°s pedidos ha realizado
3. Calcula las ventas por mes (agrupa por mes)
4. Identifica productos que nunca se han vendido
5. Calcula el porcentaje de ventas por ciudad

In [25]:
# Tu c√≥digo aqu√≠

import sqlite3
import pandas as pd

# Conexion 
con = sqlite3.connect('ecommerce.db')
cursor = con.cursor()
cursor.execute('PRAGMA foreign_keys = ON;')

# Borrado de tablas si existen 
cursor.execute('DROP TABLE IF EXISTS pedidos')
cursor.execute('DROP TABLE IF EXISTS productos')
cursor.execute('DROP TABLE IF EXISTS clientes')

# Creacion de tablas 
cursor.execute('''
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    email TEXT,
    ciudad TEXT
)
''')
cursor.execute('''
CREATE TABLE productos (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    categoria TEXT,
    precio REAL
)
''')

cursor.execute('''
CREATE TABLE pedidos (
    pedido_id INTEGER PRIMARY KEY,
    cliente_id INTEGER,
    producto_id INTEGER,
    cantidad INTEGER,
    fecha TEXT,
    FOREIGN KEY (cliente_id) REFERENCES clientes(id),
    FOREIGN KEY (producto_id) REFERENCES productos(id)
)
''')

# insercion de datos 
clientes = [
    (1, 'Juan Perez', 'juan@example.com', 'Dos hermanas'),
    (2, 'Maria Lopez', 'maria@example.com', 'Alcala de Guadaira'),
    (3, 'Carlos Ruiz', 'carlos@example.com', 'Sevilla'),
    (4, 'Ana Gomez', 'ana@example.com', 'Dos hermanas'),
    (5, 'Luis Fernandez', 'luis@example.com', 'Coria del Rio'),
]

productos = [
    (1, 'Laptop', 'Electr√≥nica', 899.99),
    (2, 'Mouse', 'Electr√≥nica', 29.99),
    (3, 'Teclado', 'Electr√≥nica', 59.99),
    (4, 'Monitor', 'Electr√≥nica', 349.99),
    (5, 'Webcam', 'Electr√≥nica', 79.99),
]

pedidos = [
    (1, 1, 1, 1, '2025-01-10'),
    (2, 2, 2, 2, '2025-01-11'),
    (3, 3, 3, 1, '2025-01-12'),
    (4, 4, 4, 1, '2025-01-13'),
    (5, 5, 5, 3, '2025-01-14'),
    (6, 1, 2, 1, '2025-01-15'),
    (7, 2, 3, 2, '2025-01-16'),
    (8, 3, 4, 1, '2025-01-17'),
    (9, 4, 5, 1, '2025-01-18'),
    (10, 5, 1, 1, '2025-01-19'),
]

# Insertar datos
cursor.executemany('INSERT INTO clientes VALUES (?, ?, ?, ?)', clientes)
cursor.executemany('INSERT INTO productos VALUES (?, ?, ?, ?)', productos)
cursor.executemany('INSERT INTO pedidos VALUES (?, ?, ?, ?, ?)', pedidos)
con.commit()

# 1. Calcula el ticket promedio (monto promedio por pedido)
queryTicketPromedio = '''
SELECT AVG(p.precio * pe.cantidad) AS ticket_promedio
FROM productos p
JOIN pedidos pe ON p.id = pe.producto_id
'''
ticket_promedio = pd.read_sql_query(queryTicketPromedio, con)
print("Ticket promedio:")
print(ticket_promedio)
print("-------------------------------")

# 2. Encuentra el cliente que m√°s pedidos ha realizado
queryClienteTop = '''
SELECT c.nombre AS cliente, COUNT(pe.pedido_id) AS total_pedidos
FROM clientes c
JOIN pedidos pe ON c.id = pe.cliente_id
GROUP BY c.nombre
ORDER BY total_pedidos DESC
LIMIT 1
'''
cliente_top = pd.read_sql_query(queryClienteTop, con)
print("Cliente que m√°s pedidos ha realizado:")
print(cliente_top)
print("-------------------------------")
# 3. Calcula las ventas por mes (agrupa por mes)
queryVentasMes = '''
SELECT STRFTIME('%Y-%m', pe.fecha) AS mes, SUM(pe.cantidad * p.precio) AS ventas_totales
FROM pedidos pe
JOIN productos p ON pe.producto_id = p.id
GROUP BY mes
'''
ventas_por_mes = pd.read_sql_query(queryVentasMes, con)
print("Ventas por mes:")
print(ventas_por_mes)
print("-------------------------------")
# 4. Identifica productos que nunca se han vendido
queryProductosNoVendidos = '''
SELECT p.nombre AS producto
FROM productos p
LEFT JOIN pedidos pe ON p.id = pe.producto_id
WHERE pe.producto_id IS NULL
'''
productos_no_vendidos = pd.read_sql_query(queryProductosNoVendidos, con)
print("Productos que nunca se han vendido:")
print(productos_no_vendidos)
print("-------------------------------")

# 5. Calcula el porcentaje de ventas por ciudad
queryVentasCiudad = '''
SELECT c.ciudad, 
       SUM(pe.cantidad * p.precio) AS ventas_ciudad,
       (SUM(pe.cantidad * p.precio) * 100.0 / (SELECT SUM(pe2.cantidad * p2.precio)
        FROM pedidos pe2
        JOIN productos p2 ON pe2.producto_id = p2.id)) AS porcentaje_ventas -- Corregido aqu√≠
FROM clientes c
JOIN pedidos pe ON c.id = pe.cliente_id
JOIN productos p ON pe.producto_id = p.id
GROUP BY c.ciudad
'''
ventas_por_ciudad = pd.read_sql_query(queryVentasCiudad, con)
print("Porcentaje de ventas por ciudad:")
print(ventas_por_ciudad)

Ticket promedio:
   ticket_promedio
0          308.986
-------------------------------
Cliente que m√°s pedidos ha realizado:
       cliente  total_pedidos
0  Maria Lopez              2
-------------------------------
Ventas por mes:
       mes  ventas_totales
0  2025-01         3089.86
-------------------------------
Productos que nunca se han vendido:
Empty DataFrame
Columns: [producto]
Index: []
-------------------------------
Porcentaje de ventas por ciudad:
               ciudad  ventas_ciudad  porcentaje_ventas
0  Alcala de Guadaira         179.96           5.824212
1       Coria del Rio        1139.96          36.893581
2        Dos hermanas        1359.96          44.013645
3             Sevilla         409.98          13.268562

## üî¥ Ejercicio 9: Integraci√≥n Pandas + SQL

Combina el poder de Pandas con SQL:

1. Lee la tabla `pedidos` en un DataFrame de Pandas
2. Usando Pandas, calcula estad√≠sticas descriptivas de las cantidades vendidas
3. Crea una nueva columna `ingreso_total` (cantidad √ó precio)
4. Filtra pedidos con ingreso > 500‚Ç¨ usando Pandas
5. Guarda estos pedidos de alto valor en una nueva tabla `pedidos_premium`
6. Verifica con una consulta SQL que la tabla se cre√≥ correctamente

In [6]:
# Tu c√≥digo aqu√≠
import sqlite3
import pandas as pd
# Conexion
con = sqlite3.connect('ecommerce.db')
cursor = con.cursor()
cursor.execute('PRAGMA foreign_keys = ON;')

# 1. Lee la tabla `pedidos` en un DataFrame de Pandas
query = '''
SELECT pe.*, p.precio 
FROM pedidos pe
JOIN productos p ON pe.producto_id = p.id
'''
df_pedidos = pd.read_sql_query(query, con)
# 2. Usando Pandas, calcula estad√≠sticas descriptivas de las cantidades vendidas
print("\nEstad√≠sticas descriptivas de las cantidades vendidas:")
print(df_pedidos['cantidad'].describe())

# 3. Crea una nueva columna `ingreso_total` (cantidad √ó precio)
df_pedidos['ingreso_total'] = df_pedidos['cantidad'] * df_pedidos['precio']
print("\nPedidos con columna ingreso_total:")
print(df_pedidos)

# 4. Filtra pedidos con ingreso > 500‚Ç¨ usando Pandas
df_pedidos_premium = df_pedidos[df_pedidos['ingreso_total'] > 500]
print("\nPedidos de alto valor (ingreso > 500‚Ç¨):")
print(df_pedidos_premium)
# 5. Guarda estos pedidos de alto valor en una nueva tabla `pedidos_premium`
df_pedidos_premium.to_sql('pedidos_premium', con, if_exists='replace', index=False)

# 6. Verifica con una consulta SQL que la tabla se cre√≥ correctamente
df_verificacion = pd.read_sql_query("SELECT * FROM pedidos_premium", con)
print("\nVerificaci√≥n de la tabla pedidos_premium:")
print(df_verificacion)

Estad√≠sticas descriptivas de las cantidades vendidas:
count    10.000000
mean      1.400000
std       0.699206
min       1.000000
25%       1.000000
50%       1.000000
75%       1.750000
max       3.000000
Name: cantidad, dtype: float64

Pedidos con columna ingreso_total:
   pedido_id  cliente_id  producto_id  cantidad       fecha  precio  \
0          1           1            1         1  2025-01-10  899.99
1          2           2            2         2  2025-01-11   29.99
2          3           3            3         1  2025-01-12   59.99
3          4           4            4         1  2025-01-13  349.99
4          5           5            5         3  2025-01-14   79.99
5          6           1            2         1  2025-01-15   29.99
6          7           2            3         2  2025-01-16   59.99
7          8           3            4         1  2025-01-17  349.99
8          9           4            5         1  2025-01-18   79.99
9         10           5            1         1  2025-01-19  899.99

   ingreso_total
0         899.99
1          59.98
2          59.99
3         349.99
4         239.97
5          29.99
6         119.98
7         349.99
8          79.99
9         899.99

Pedidos de alto valor (ingreso > 500‚Ç¨):
   pedido_id  cliente_id  producto_id  cantidad       fecha  precio  \
0          1           1            1         1  2025-01-10  899.99
9         10           5            1         1  2025-01-19  899.99

   ingreso_total
0         899.99
9         899.99

Verificaci√≥n de la tabla pedidos_premium:
   pedido_id  cliente_id  producto_id  cantidad       fecha  precio  \
0          1           1            1         1  2025-01-10  899.99
1         10           5            1         1  2025-01-19  899.99

   ingreso_total
0         899.99
1         899.99

## üî¥ Ejercicio 10: Dashboard de M√©tricas Empresariales

Crea un an√°lisis completo tipo dashboard empresarial:

Usando todas las tablas de `ecommerce.db`, genera un informe que incluya:

1. **KPIs Generales:**
   - Total de clientes
   - Total de productos
   - Total de pedidos
   - Ingreso total

2. **An√°lisis de Clientes:**
   - Top 3 clientes por gasto total
   - Distribuci√≥n de clientes por ciudad
   - Tasa de retenci√≥n (clientes con m√°s de 1 pedido)

3. **An√°lisis de Productos:**
   - Top 5 productos por ingresos
   - Categor√≠a m√°s vendida
   - Precio promedio de venta por categor√≠a

4. **An√°lisis Temporal:**
   - Ventas por d√≠a de la semana
   - Tendencia de ventas (primera vs. √∫ltima semana)

Presenta todo en un formato claro y profesional.

In [12]:
# Tu c√≥digo aqu√≠
import sqlite3
import pandas as pd
import numpy as np

# conexion 
con = sqlite3.connect('ecommerce.db')

print("------------DASHBOARD DE METRICAS EMPRESARIALES------------")

total_clientes = pd.read_sql_query('SELECT COUNT(*) FROM clientes', con)
total_productos = pd.read_sql_query('SELECT COUNT(*) FROM productos', con)
total_pedidos = pd.read_sql_query('SELECT COUNT(*) FROM pedidos', con)

ingreso_df = pd.read_sql_query('''
SELECT SUM(pe.cantidad * p.precio) AS ingreso_total
FROM pedidos pe
JOIN productos p ON pe.producto_id = p.id
''', con)

ingreso_total = ingreso_df.iloc[0,0]

print(f"\n TOTAL CLIENTES: {total_clientes}")
print(f" TOTAL PRODUCTOS: {total_productos}")
print(f" TOTAL PEDIDOS: {total_pedidos}")
print(f" INGRESO TOTAL: {ingreso_total:,.2f}‚Ç¨")

# analisis de clientes 
query_clientes = '''
SELECT c.nombre, COUNT(pe.pedido_id) AS num_pedidos, SUM(pe.cantidad * p.precio) AS gasto_total
FROM clientes c
JOIN pedidos pe ON c.id = pe.cliente_id
JOIN productos p ON pe.producto_id = p.id
GROUP BY c.id
ORDER BY gasto_total DESC
'''

df_clientes = pd.read_sql_query(query_clientes, con)

print("\nCLIENTES TOP 3 POR GASTO TOTAL:")
display_clientes = df_clientes.head(3)
print(display_clientes)

# tasa de retencion 
recurrente = len(df_clientes[df_clientes['num_pedidos'] > 1])
tasa_retencion = (recurrente / len(df_clientes)) * 100
print(f"\nTASA DE RETENCI√ìN DE CLIENTES: {tasa_retencion:.1f}%")


# analisis de productos 

query_productos = '''
SELECT pr.categoria, SUM(pe.cantidad * pr.precio) AS ventas_totales
FROM productos pr   
JOIN pedidos pe ON pr.id = pe.producto_id
GROUP BY pr.categoria
ORDER BY ventas_totales DESC
'''
df_productos = pd.read_sql_query(query_productos, con)
print("\n VENTAS POR CATEGOR√çA DE PRODUCTO:")
display(df_productos)

# analisis por ciudad 
query_ciudades = '''
SELECT c.ciudad, SUM(pe.cantidad * p.precio) AS ventas_totales
FROM clientes c
JOIN pedidos pe ON c.id = pe.cliente_id
JOIN productos p ON pe.producto_id = p.id
GROUP BY c.ciudad
ORDER BY ventas_totales DESC
'''

df_ciudades = pd.read_sql_query(query_ciudades, con)
print("\n VENTAS POR CIUDAD:")
display(df_ciudades)

con.close()

------------DASHBOARD DE METRICAS EMPRESARIALES------------

 TOTAL CLIENTES:    COUNT(*)
0         5
 TOTAL PRODUCTOS:    COUNT(*)
0         5
 TOTAL PEDIDOS:    COUNT(*)
0        10
 INGRESO TOTAL: 3,089.86‚Ç¨

CLIENTES TOP 3 POR GASTO TOTAL:
           nombre  num_pedidos  gasto_total
0  Luis Fernandez            2      1139.96
1      Juan Perez            2       929.98
2       Ana Gomez            2       429.98

TASA DE RETENCI√ìN DE CLIENTES: 100.0%

 VENTAS POR CATEGOR√çA DE PRODUCTO:

     categoria  ventas_totales
0  Electr√≥nica         3089.86

 VENTAS POR CIUDAD:

               ciudad  ventas_totales
0        Dos hermanas         1359.96
1       Coria del Rio         1139.96
2             Sevilla          409.98
3  Alcala de Guadaira          179.96

## üî¥ Ejercicio BONUS: Transacciones y Manejo de Errores

Implementa una funci√≥n robusta para transferir stock entre productos:

1. Crea una funci√≥n `transferir_stock(conn, producto_origen, producto_destino, cantidad)` que:
   - Use transacciones (`BEGIN TRANSACTION`, `COMMIT`, `ROLLBACK`)
   - Verifique que el producto origen tenga suficiente stock
   - Reste la cantidad del origen
   - Sume la cantidad al destino
   - Si algo falla, haga rollback

2. Maneja excepciones apropiadamente
3. Prueba la funci√≥n con casos exitosos y fallidos

**Pista:** Usa `try-except-finally` y `conn.commit()` / `conn.rollback()`

In [13]:
import sqlite3

def transferir_stock(conn, producto_id_origen, producto_id_destino, cantidad):
    """
    Transfiere stock de un producto a otro de forma segura usando transacciones.
    """
    cursor = conn.cursor()
    
    try:
        #iniciar transacion
        conn.execute('BEGIN TRANSACTION')
        
        # veriifcar stock suficiente del origen
        cursor.execute('SELECT nombre, stock FROM productos WHERE id = ?', (producto_id_origen,))
        resultado_origen = cursor.fetchone()
        
        if not resultado_origen:
            raise ValueError(f"El producto origen (ID: {producto_id_origen}) no existe.")
        
        nombre_origen, stock_actual = resultado_origen
        
        if stock_actual < cantidad:
            raise ValueError(f"Stock insuficiente en {nombre_origen}. Disponible: {stock_actual}, Requerido: {cantidad}")

        # verificar destino
        cursor.execute('SELECT id FROM productos WHERE id = ?', (producto_id_destino,))
        if not cursor.fetchone():
            raise ValueError(f"El producto destino (ID: {producto_id_destino}) no existe.")

        # resto del stock al origen
        cursor.execute('UPDATE productos SET stock = stock - ? WHERE id = ?', (cantidad, producto_id_origen))
        
        #sumar stock al destnio
        cursor.execute('UPDATE productos SET stock = stock + ? WHERE id = ?', (cantidad, producto_id_destino))
        
        # confirmar cambios
        conn.commit()
        print(f"Transferencia realizada: {cantidad} unidades movidas del ID {producto_id_origen} al ID {producto_id_destino}.")

    except (sqlite3.Error, ValueError) as e:
        # Si ocurre CUALQUIER error, deshacemos todo
        conn.rollback()
        print(f" ERROR en la transferencia: {e}")
        print("   Operaci√≥n cancelada.")
        
    finally:
        cursor.close()

# --- PRUEBAS ---

con = sqlite3.connect('ecommerce.db') 

print("---  CASO EXITOSO: Laptop (ID 1) a Mouse (ID 2) ---")
transferir_stock(con, 1, 2, 5)

print("\n---  CASO FALLIDO: Stock insuficiente ---")
transferir_stock(con, 1, 2, 1000)

print("\n---  CASO FALLIDO: ID de producto no existe ---")
transferir_stock(con, 1, 999, 10)

con.close()

---  CASO EXITOSO: Laptop (ID 1) a Mouse (ID 2) ---
 ERROR en la transferencia: no such column: stock
   Operaci√≥n cancelada.

---  CASO FALLIDO: Stock insuficiente ---
 ERROR en la transferencia: no such column: stock
   Operaci√≥n cancelada.

---  CASO FALLIDO: ID de producto no existe ---
 ERROR en la transferencia: no such column: stock
   Operaci√≥n cancelada.

---

## üìé ANEXO: Entender Bloqueos en SQLite

### ¬øQu√© sucede cuando olvido cerrar una conexi√≥n?

A veces, durante el desarrollo o por error, dejamos conexiones abiertas. El impacto depende del tipo de base de datos:

**SQLite (local):**
- El archivo `.db` queda bloqueado y otros procesos no pueden escribir
- Los cambios no se guardan si no ejecutaste `commit()`
- La memoria se libera cuando el programa termina

**Bases de datos remotas (MySQL, Oracle, PostgreSQL):**
- Agota el l√≠mite de conexiones simult√°neas del servidor
- Consume recursos del servidor (memoria, threads)
- Error t√≠pico: "Too many connections"

### Ejercicio pr√°ctico: Forzar un bloqueo

Para comprender mejor c√≥mo funcionan los bloqueos, puedes simular uno. Este script muestra cuatro formas:

In [ ]:
# ANEXO: Ejemplos de funciones para forzar bloqueos en SQLite

import sqlite3

# Opci√≥n 1: Bloqueo con transacci√≥n IMMEDIATE
def bloquear_transaccion(ruta_bd):
    conexion = sqlite3.connect(ruta_bd)
    cursor = conexion.cursor()
    cursor.execute('BEGIN IMMEDIATE')
    cursor.execute('UPDATE productos SET nombre = nombre WHERE id = 1')
    print("BD BLOQUEADA - Presiona Ctrl+C para liberar")
    try:
        while True:
            pass
    except KeyboardInterrupt:
        conexion.rollback()
        conexion.close()

# Opci√≥n 2: Bloqueo EXCLUSIVE (total)
def bloquear_exclusivo(ruta_bd):
    conexion = sqlite3.connect(ruta_bd)
    cursor = conexion.cursor()
    cursor.execute('BEGIN EXCLUSIVE')
    print("BD BLOQUEADA TOTALMENTE - Ni lectura ni escritura - Presiona Ctrl+C para liberar")
    try:
        while True:
            pass
    except KeyboardInterrupt:
        conexion.rollback()
        conexion.close()

# Opci√≥n 3: Crear archivo de bloqueo
def crear_lock_file(ruta_bd):
    import os
    lock_file = ruta_bd + '-lock'
    with open(lock_file, 'w') as f:
        f.write('BLOQUEADO')
    print(f"Archivo de bloqueo creado: {lock_file} - Presiona Ctrl+C para liberar")
    try:
        while True:
            pass
    except KeyboardInterrupt:
        os.remove(lock_file)
        print(f"Bloqueo liberado")

# Opci√≥n 4: Bloqueo con WAL mode
def bloquear_wal(ruta_bd):
    conexion = sqlite3.connect(ruta_bd)
    cursor = conexion.cursor()
    cursor.execute('PRAGMA journal_mode=WAL')
    cursor.execute('BEGIN EXCLUSIVE')
    print("BD bloqueada en WAL mode - Presiona Ctrl+C para liberar")
    try:
        while True:
            pass
    except KeyboardInterrupt:
        conexion.rollback()
        conexion.close()


if __name__ == '__main__':
    ruta_bd = 'empresa.db'
    
    print("Elige una opci√≥n:")
    print("1. Bloqueo con transacci√≥n IMMEDIATE")
    print("2. Bloqueo EXCLUSIVE (total)")
    print("3. Crear archivo .lock")
    print("4. Bloqueo con WAL mode")
    
    opcion = input("\nOpci√≥n (1-4): ").strip()
    
    if opcion == '1':
        bloquear_transaccion(ruta_bd)
    elif opcion == '2':
        bloquear_exclusivo(ruta_bd)
    elif opcion == '3':
        crear_lock_file(ruta_bd)
    elif opcion == '4':
        bloquear_wal(ruta_bd)
    else:
        print("Opci√≥n no v√°lida")



### Comparativa de opciones

| Opci√≥n | Tipo | Permite lectura | Permite escritura | Uso |
|--------|------|---|---|---|
| IMMEDIATE | Transacci√≥n | ‚úÖ S√≠ | ‚ùå No | Simular usuario escribiendo |
| EXCLUSIVE | Transacci√≥n | ‚ùå No | ‚ùå No | Bloqueo total |
| .lock file | Archivo | ‚ùå No | ‚ùå No | Bloqueo manual |
| WAL mode | Modo BD | ‚úÖ S√≠ | ‚ùå No | Bloqueo realista |

### C√≥mo probar en SQLiteStudio

1. Abre una terminal y ejecuta uno de los scripts de bloqueo (opci√≥n 2 es la m√°s evidente)
2. Abre SQLiteStudio e intenta hacer una consulta ‚Üí Ver√°s el error `database is locked`
3. Presiona `Ctrl+C` en la terminal para liberar el bloqueo
4. Prueba de nuevo en SQLiteStudio ‚Üí Funcionar√°

### Mejores pr√°cticas para evitar bloqueos

Siempre usa el context manager `with` para garantizar que la conexi√≥n se cierre:

```python
# CORRECTO: La conexi√≥n se cierra autom√°ticamente
with sqlite3.connect('tienda.db') as conexion:
    cursor = conexion.cursor()
    cursor.execute('SELECT * FROM productos')
    resultados = cursor.fetchall()
# La conexi√≥n se cierra aqu√≠ autom√°ticamente
```

Esto funciona para **cualquier tipo de base de datos**: SQLite, MySQL, PostgreSQL, Oracle, etc.

---

## ‚úÖ Finalizaci√≥n del Bolet√≠n

Se han completado los ejercicios de SQL con Python. Los temas cubiertos incluyen:
- ‚úÖ Creaci√≥n de bases de datos y tablas
- ‚úÖ Operaciones CRUD (Create, Read, Update, Delete)
- ‚úÖ Consultas SQL (SELECT, WHERE, JOIN, GROUP BY)
- ‚úÖ Funciones de agregaci√≥n (SUM, AVG, COUNT, MAX, MIN)
- ‚úÖ Integraci√≥n Pandas-SQL con `.to_sql()` y `.read_sql()`
- ‚úÖ An√°lisis de datos empresariales
- ‚úÖ Transacciones y manejo de errores

**Siguientes pasos:**
- Practicar con bases de datos m√°s grandes
- Explorar PostgreSQL, MySQL para entornos de producci√≥n
- Estudiar SQLAlchemy para ORM avanzado

**Nota importante:** Cerrar siempre las conexiones a bases de datos con `conn.close()`