# Bolet√≠n de Ejercicios 2: Pandas

## An√°lisis de Datos Profesional con DataFrames

**Objetivo:** Dominar Pandas para manipular, limpiar y analizar datos tabulares del mundo real.

**Instrucciones:**
- Resuelve cada ejercicio en la celda de c√≥digo correspondiente
- Los ejercicios simulan casos de uso reales de an√°lisis de datos
- Usa las funciones de Pandas de forma eficiente (evita bucles cuando sea posible)
- üü¢ = B√°sico | üü° = Intermedio | üî¥ = Avanzado

---

In [2]:
# Importar librer√≠as necesarias
import pandas as pd
import numpy as np

# Verificar versiones
print(f"Pandas versi√≥n: {pd.__version__}")
print(f"NumPy versi√≥n: {np.__version__}")

Pandas versi√≥n: 2.3.3
NumPy versi√≥n: 2.2.6

## üü¢ Ejercicio 1: Tu Primera Serie

Crea una Serie de Pandas con los siguientes datos de ventas mensuales (en miles de euros):
- Enero: 45.2
- Febrero: 52.8
- Marzo: 48.1
- Abril: 61.3
- Mayo: 58.7

Luego:
1. Imprime la Serie completa
2. Accede al valor de Marzo usando el √≠ndice
3. Encuentra el mes con mayores ventas
4. Calcula el total de ventas del trimestre (primeros 3 meses)

In [5]:
# Tu c√≥digo aqu√≠

# 1. Imprime la Serie completa
ventas = pd.Series([45.2, 52.8, 48.1, 61.3, 58.7],
                   index=['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'])
print(ventas)
# 2. Accede al valor de Marzo usando el √≠ndice
valor_marzo = ventas['Marzo']
print(f"Ventas en Marzo: {valor_marzo}")
# 3. Encuentra el mes con mayores ventas
mes_mayores_ventas = ventas.idxmax()
print(f"Mes con mayores ventas: {mes_mayores_ventas}")
# 4. Calcula el total de ventas del trimestre (primeros 3 meses)
total_trimestre = ventas[:3].sum()
print(f"Total de ventas del trimestre: {total_trimestre}")

Enero      45.2
Febrero    52.8
Marzo      48.1
Abril      61.3
Mayo       58.7
dtype: float64
Ventas en Marzo: 48.1
Mes con mayores ventas: Abril
Total de ventas del trimestre: 146.1

## üü¢ Ejercicio 2: Creando tu Primer DataFrame

Crea un DataFrame con informaci√≥n de empleados de una empresa:

| Nombre    | Edad | Departamento | Salario |
|-----------|------|--------------|----------|
| Ana       | 28   | Ventas       | 35000    |
| Carlos    | 34   | IT           | 48000    |
| Mar√≠a     | 29   | Marketing    | 42000    |
| Juan      | 42   | IT           | 55000    |
| Laura     | 31   | Ventas       | 38000    |

Luego:
1. Muestra las primeras 3 filas
2. Muestra informaci√≥n general del DataFrame (`.info()`)
3. Selecciona solo la columna 'Nombre'
4. Selecciona las columnas 'Nombre' y 'Salario'

In [9]:
# Tu c√≥digo aqu√≠
import pandas as pd

#crear DataFrame
data = {
    'Nombre': ['Ana', 'Carlos', 'Maria', 'Juan', 'Luis'],
    'Edad': [28, 35, 22, 40, 56],
    'departamento': ['Ventas', 'Marketing', 'IT', 'Finanzas', 'Recursos Humanos'],
    'Salario': [30000, 45000, 28000, 55000, 60000]
}
df = pd.DataFrame(data)

# 1. Muestra las primeras 3 filas
print(df.head(3))

print("\n")
print("------------------------------------------------")
# 2. Muestra informaci√≥n general del DataFrame (`.info()`)
print(df.info())
print("\n")
print("------------------------------------------------")
# 3. Selecciona solo la columna 'Nombre'
print(df['Nombre']) 
print("\n")
print("------------------------------------------------")
# 4. Selecciona las columnas 'Nombre' y 'Salario'
print(df[['Nombre', 'Salario']])

   Nombre  Edad departamento  Salario
0     Ana    28       Ventas    30000
1  Carlos    35    Marketing    45000
2   Maria    22           IT    28000


------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        5 non-null      object
 1   Edad          5 non-null      int64
 2   departamento  5 non-null      object
 3   Salario       5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None


------------------------------------------------
0       Ana
1    Carlos
2     Maria
3      Juan
4      Luis
Name: Nombre, dtype: object


------------------------------------------------
   Nombre  Salario
0     Ana    30000
1  Carlos    45000
2   Maria    28000
3    Juan    55000
4    Luis    60000

## üü¢ Ejercicio 3: Filtrado B√°sico

Usando el DataFrame de empleados del ejercicio anterior:

1. Filtra los empleados que ganan m√°s de 40,000‚Ç¨
2. Filtra los empleados del departamento de IT
3. Filtra los empleados menores de 30 a√±os
4. Filtra los empleados del departamento de Ventas que ganan m√°s de 35,000‚Ç¨

In [11]:
# Tu c√≥digo aqu√≠
import pandas as pd

#crear DataFrame
data = {
    'Nombre': ['Ana', 'Carlos', 'Maria', 'Juan', 'Luis'],
    'Edad': [28, 35, 22, 40, 56],
    'departamento': ['Ventas', 'Marketing', 'IT', 'Finanzas', 'Recursos Humanos'],
    'Salario': [30000, 45000, 28000, 55000, 60000]
}
df = pd.DataFrame(data)

# 1. Filtra los empleados que ganan m√°s de 40,000‚Ç¨
empleados_mas_40000 = df[df['Salario'] > 40000]
print(empleados_mas_40000)
print("\n")
print("------------------------------------------------")
# 2. Filtra los empleados del departamento de IT
empleados_it = df[df['departamento'] == 'IT']
print(empleados_it)
print("\n")
print("------------------------------------------------")
# 3. Filtra los empleados menores de 30 a√±os
empleados_menores_30 = df[df['Edad'] < 30]
print(empleados_menores_30)
print("\n")
print("------------------------------------------------")
# 4. Filtra los empleados del departamento de Ventas que ganan m√°s de 35,000‚Ç¨
empleados_ventas_mas_35000 = df[(df['departamento'] == 'Ventas') & (df['Salario'] > 35000)]
print(empleados_ventas_mas_35000)

   Nombre  Edad      departamento  Salario
1  Carlos    35         Marketing    45000
3    Juan    40          Finanzas    55000
4    Luis    56  Recursos Humanos    60000


------------------------------------------------
  Nombre  Edad departamento  Salario
2  Maria    22           IT    28000


------------------------------------------------
  Nombre  Edad departamento  Salario
0    Ana    28       Ventas    30000
2  Maria    22           IT    28000


------------------------------------------------
Empty DataFrame
Columns: [Nombre, Edad, departamento, Salario]
Index: []

## üü° Ejercicio 4: Estad√≠sticas Descriptivas

Crea un DataFrame con datos de ventas diarias de una tienda durante 2 semanas:

```python
np.random.seed(42)
ventas_df = pd.DataFrame({
    'Dia': pd.date_range('2025-01-01', periods=14, freq='D'),
    'Ventas': np.random.randint(100, 300, 14),
    'Clientes': np.random.randint(20, 60, 14),
    'Devoluciones': np.random.randint(0, 15, 14)
})
```

Calcula:
1. Estad√≠sticas descriptivas de todas las columnas num√©ricas (`.describe()`)
2. La venta promedio por cliente (nueva columna 'Ticket_Medio')
3. El d√≠a con mayores ventas
4. El total de ventas en la primera semana vs. la segunda semana

In [12]:
import pandas as pd
import numpy as np
# Crear el DataFrame
np.random.seed(42)
ventas_df = pd.DataFrame({
    'Dia': pd.date_range('2025-01-01', periods=14, freq='D'),
    'Ventas': np.random.randint(100, 300, 14),
    'Clientes': np.random.randint(20, 60, 14),
    'Devoluciones': np.random.randint(0, 15, 14)
})

# Tu c√≥digo aqu√≠
# 1. Estad√≠sticas descriptivas de todas las columnas num√©ricas (`.describe()`)
print(ventas_df.describe())
print("\n")
print("------------------------------------------------")
# 2. La venta promedio por cliente (nueva columna 'Ticket_Medio')
ventas_df['Ticket_Medio'] = ventas_df['Ventas'] / ventas_df['Clientes']
print(ventas_df[['Dia', 'Ticket_Medio']])
print("\n")
print("------------------------------------------------")
# 3. El d√≠a con mayores ventas
dia_max_ventas = ventas_df.loc[ventas_df['Ventas'].idxmax()]
print(dia_max_ventas)
print("\n")
print("------------------------------------------------")
# 4. El total de ventas en la primera semana vs. la segunda semana
primera_semana = ventas_df[0:7]
segunda_semana = ventas_df[7:14]
total_primera_semana = primera_semana['Ventas'].sum()
total_segunda_semana = segunda_semana['Ventas'].sum()
print(f"Total Ventas Primera Semana: {total_primera_semana}")
print(f"Total Ventas Segunda Semana: {total_segunda_semana}")

                       Dia      Ventas   Clientes  Devoluciones
count                   14   14.000000  14.000000     14.000000
mean   2025-01-07 12:00:00  197.928571  40.285714     10.357143
min    2025-01-01 00:00:00  114.000000  21.000000      0.000000
25%    2025-01-04 06:00:00  177.250000  33.250000     10.000000
50%    2025-01-07 12:00:00  200.500000  42.000000     11.000000
75%    2025-01-10 18:00:00  213.500000  47.750000     13.000000
max    2025-01-14 00:00:00  288.000000  59.000000     14.000000
std                    NaN   48.208624  12.517241      4.307545


------------------------------------------------
          Dia  Ticket_Medio
0  2025-01-01      3.423729
1  2025-01-02      6.488372
2  2025-01-03      8.727273
3  2025-01-04      2.780488
4  2025-01-05      9.809524
5  2025-01-06      3.976744
6  2025-01-07      5.877551
7  2025-01-08      2.105263
8  2025-01-09      9.619048
9  2025-01-10      5.525000
10 2025-01-11      3.346154
11 2025-01-12      6.032258
12 2025-01-13      5.268293
13 2025-01-14      4.522727


------------------------------------------------
Dia             2025-01-07 00:00:00
Ventas                          288
Clientes                         49
Devoluciones                     11
Ticket_Medio               5.877551
Name: 6, dtype: object


------------------------------------------------
Total Ventas Primera Semana: 1452
Total Ventas Segunda Semana: 1319

## üü° Ejercicio 5: Manejo de Datos Faltantes

Crea un DataFrame con algunos valores faltantes:

```python
datos_incompletos = pd.DataFrame({
    'Producto': ['A', 'B', 'C', 'D', 'E'],
    'Precio': [10.5, np.nan, 15.0, 12.5, np.nan],
    'Stock': [50, 30, np.nan, 45, 60],
    'Categoria': ['Electr√≥nica', 'Ropa', np.nan, 'Electr√≥nica', 'Ropa']
})
```

Realiza las siguientes tareas:
1. Identifica cu√°ntos valores faltantes hay en cada columna
2. Rellena los precios faltantes con la media de los precios existentes
3. Rellena el stock faltante con 0
4. Rellena la categor√≠a faltante con 'Sin categor√≠a'
5. Verifica que no queden valores faltantes

In [13]:
import pandas as pd
import numpy as np

# Crear el DataFrame
datos_incompletos = pd.DataFrame({
    'Producto': ['A', 'B', 'C', 'D', 'E'],
    'Precio': [10.5, np.nan, 15.0, 12.5, np.nan],
    'Stock': [50, 30, np.nan, 45, 60],
    'Categoria': ['Electr√≥nica', 'Ropa', np.nan, 'Electr√≥nica', 'Ropa']
})

# Tu c√≥digo aqu√≠
# 1. Identifica cu√°ntos valores faltantes hay en cada columna
print(datos_incompletos.isnull().sum())
print("\n")
print("------------------------------------------------")
# 2. Rellena los precios faltantes con la media de los precios existentes
datos_incompletos['Precio'].fillna(datos_incompletos['Precio'].mean(), inplace=True)
# 3. Rellena el stock faltante con 0
datos_incompletos['Stock'].fillna(0, inplace=True)
# 4. Rellena la categor√≠a faltante con 'Sin categor√≠a'
datos_incompletos['Categoria'].fillna('Sin categor√≠a', inplace=True)
# 5. Verifica que no queden valores faltantes
print(datos_incompletos.isnull().sum())

Producto     0
Precio       2
Stock        1
Categoria    1
dtype: int64


------------------------------------------------
Producto     0
Precio       0
Stock        0
Categoria    0
dtype: int64

C:\Users\Ale\AppData\Local\Temp\ipykernel_18404\2380491929.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos_incompletos['Precio'].fillna(datos_incompletos['Precio'].mean(), inplace=True)
C:\Users\Ale\AppData\Local\Temp\ipykernel_18404\2380491929.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos_incompletos['Stock'].fillna(0, inplace=True)
C:\Users\Ale\AppData\Local\Temp\ipykernel_18404\2380491929.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos_incompletos['Categoria'].fillna('Sin categor√≠a', inplace=True)

## üü° Ejercicio 6: Agrupaci√≥n y Agregaci√≥n (GroupBy)

Crea un DataFrame con datos de ventas por producto y regi√≥n:

```python
ventas_region = pd.DataFrame({
    'Region': ['Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste'],
    'Producto': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'Ventas': [120, 95, 135, 110, 85, 140, 100, 125],
    'Unidades': [24, 19, 27, 22, 17, 28, 20, 25]
})
```

Calcula:
1. Las ventas totales por regi√≥n
2. Las ventas promedio por producto
3. El n√∫mero de unidades vendidas por regi√≥n
4. Crea una tabla pivote que muestre ventas por regi√≥n (filas) y producto (columnas)

In [14]:
import pandas as pd
# Crear el DataFrame
ventas_region = pd.DataFrame({
    'Region': ['Norte', 'Sur', 'Este', 'Oeste', 'Norte', 'Sur', 'Este', 'Oeste'],
    'Producto': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'Ventas': [120, 95, 135, 110, 85, 140, 100, 125],
    'Unidades': [24, 19, 27, 22, 17, 28, 20, 25]
})

# Tu c√≥digo aqu√≠
# 1. Las ventas totales por regi√≥n
ventas_totales_region = ventas_region.groupby('Region')['Ventas'].sum()
print(ventas_totales_region)
print("\n")
print("------------------------------------------------")
# 2. Las ventas promedio por producto
ventas_promedio_producto = ventas_region.groupby('Producto')['Ventas'].mean()
print(ventas_promedio_producto)
print("\n")
print("------------------------------------------------")
# 3. El n√∫mero de unidades vendidas por regi√≥n
unidades_por_region = ventas_region.groupby('Region')['Unidades'].sum()
print(unidades_por_region)
print("\n")
print("------------------------------------------------")
# 4. Crea una tabla pivote que muestre ventas por regi√≥n (filas) y producto (columnas)
tabla_pivote = ventas_region.pivot_table(values='Ventas', index='Region', columns='Producto', aggfunc='sum')
print(tabla_pivote)

Region
Este     235
Norte    205
Oeste    235
Sur      235
Name: Ventas, dtype: int64


------------------------------------------------
Producto
A    115.0
B    112.5
Name: Ventas, dtype: float64


------------------------------------------------
Region
Este     47
Norte    41
Oeste    47
Sur      47
Name: Unidades, dtype: int64


------------------------------------------------
Producto    A    B
Region
Este      135  100
Norte     120   85
Oeste     110  125
Sur        95  140

## üî¥ Ejercicio 7: Combinaci√≥n de DataFrames (Merge)

Tienes dos DataFrames: uno con informaci√≥n de pedidos y otro con informaci√≥n de clientes.

```python
pedidos = pd.DataFrame({
    'PedidoID': [101, 102, 103, 104, 105],
    'ClienteID': [1, 2, 1, 3, 2],
    'Monto': [250.0, 180.5, 320.0, 95.0, 410.0],
    'Fecha': pd.to_datetime(['2025-01-15', '2025-01-16', '2025-01-16', '2025-01-17', '2025-01-18'])
})

clientes = pd.DataFrame({
    'ClienteID': [1, 2, 3, 4],
    'Nombre': ['Ana Garc√≠a', 'Carlos Ruiz', 'Mar√≠a L√≥pez', 'Juan P√©rez'],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
})
```

Realiza:
1. Un merge (inner join) entre pedidos y clientes usando 'ClienteID'
2. Muestra el resultado ordenado por 'Monto' descendente
3. Calcula el monto total de pedidos por ciudad
4. Identifica el cliente que m√°s ha gastado (total de sus pedidos)

In [15]:
import pandas as pd
# Crear los DataFrames
pedidos = pd.DataFrame({
    'PedidoID': [101, 102, 103, 104, 105],
    'ClienteID': [1, 2, 1, 3, 2],
    'Monto': [250.0, 180.5, 320.0, 95.0, 410.0],
    'Fecha': pd.to_datetime(['2025-01-15', '2025-01-16', '2025-01-16', '2025-01-17', '2025-01-18'])
})

clientes = pd.DataFrame({
    'ClienteID': [1, 2, 3, 4],
    'Nombre': ['Ana Garc√≠a', 'Carlos Ruiz', 'Mar√≠a L√≥pez', 'Juan P√©rez'],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
})

# Tu c√≥digo aqu√≠

# 1. Un merge (inner join) entre pedidos y clientes usando 'ClienteID'
merged_df = pd.merge(pedidos, clientes, on='ClienteID', how='inner')
print(merged_df)
print("\n")
print("------------------------------------------------")
# 2. Muestra el resultado ordenado por 'Monto' descendente
sorted_df = merged_df.sort_values(by='Monto', ascending=False)
print(sorted_df)
print("\n")
print("------------------------------------------------")
# 3. Calcula el monto total de pedidos por ciudad
monto_total_ciudad = merged_df.groupby('Ciudad')['Monto'].sum()
print(monto_total_ciudad)
print("\n")
print("------------------------------------------------")
# 4. Identifica el cliente que m√°s ha gastado (total de sus pedidos)
cliente_mas_gastador = merged_df.groupby('ClienteID')['Monto'].sum().idxmax()
print(cliente_mas_gastador)

   PedidoID  ClienteID  Monto      Fecha       Nombre     Ciudad
0       101          1  250.0 2025-01-15   Ana Garc√≠a     Madrid
1       102          2  180.5 2025-01-16  Carlos Ruiz  Barcelona
2       103          1  320.0 2025-01-16   Ana Garc√≠a     Madrid
3       104          3   95.0 2025-01-17  Mar√≠a L√≥pez   Valencia
4       105          2  410.0 2025-01-18  Carlos Ruiz  Barcelona


------------------------------------------------
   PedidoID  ClienteID  Monto      Fecha       Nombre     Ciudad
4       105          2  410.0 2025-01-18  Carlos Ruiz  Barcelona
2       103          1  320.0 2025-01-16   Ana Garc√≠a     Madrid
0       101          1  250.0 2025-01-15   Ana Garc√≠a     Madrid
1       102          2  180.5 2025-01-16  Carlos Ruiz  Barcelona
3       104          3   95.0 2025-01-17  Mar√≠a L√≥pez   Valencia


------------------------------------------------
Ciudad
Barcelona    590.5
Madrid       570.0
Valencia      95.0
Name: Monto, dtype: float64


------------------------------------------------
2

## üî¥ Ejercicio 8: An√°lisis de Series Temporales

Crea un DataFrame con datos de temperatura diaria durante enero 2025:

```python
np.random.seed(42)
fechas = pd.date_range('2025-01-01', '2025-01-31', freq='D')
temperaturas = 10 + 5 * np.sin(np.arange(31) * 2 * np.pi / 31) + np.random.normal(0, 2, 31)

df_temp = pd.DataFrame({
    'Fecha': fechas,
    'Temperatura': temperaturas
})
df_temp.set_index('Fecha', inplace=True)
```

Realiza:
1. Calcula la media de temperatura del mes
2. Encuentra los 5 d√≠as m√°s c√°lidos
3. Calcula la temperatura promedio por semana (`.resample('W').mean()`)
4. Cuenta cu√°ntos d√≠as la temperatura estuvo por encima de 12¬∞C

In [16]:
import pandas as pd
import numpy as np
# Crear el DataFrame
np.random.seed(42)
fechas = pd.date_range('2025-01-01', '2025-01-31', freq='D')
temperaturas = 10 + 5 * np.sin(np.arange(31) * 2 * np.pi / 31) + np.random.normal(0, 2, 31)

df_temp = pd.DataFrame({
    'Fecha': fechas,
    'Temperatura': temperaturas
})
df_temp.set_index('Fecha', inplace=True)

# Tu c√≥digo aqu√≠

# 1. Calcula la media de temperatura del mes
media_temperatura = df_temp['Temperatura'].mean()
print(f"Media de temperatura del mes: {media_temperatura}")
print("\n")
print("------------------------------------------------")
# 2. Encuentra los 5 d√≠as m√°s c√°lidos
dias_mas_calidos = df_temp.nlargest(5, 'Temperatura')
print(dias_mas_calidos)
print("\n")
print("------------------------------------------------")
# 3. Calcula la temperatura promedio por semana (`.resample('W').mean()`)
temp_promedio_semana = df_temp.resample('W').mean()
print(temp_promedio_semana)
print("\n")
print("------------------------------------------------")
# 4. Cuenta cu√°ntos d√≠as la temperatura estuvo por encima de 12¬∞C
dias_sobre_12 = df_temp[df_temp['Temperatura'] > 12].shape[0]
print(f"D√≠as con temperatura por encima de 12¬∞C: {dias_sobre_12}")

Media de temperatura del mes: 9.597024936273513


------------------------------------------------
            Temperatura
Fecha
2025-01-07    17.847186
2025-01-08    16.477211
2025-01-10    15.925506
2025-01-04    15.902401
2025-01-09    14.054634


------------------------------------------------
            Temperatura
Fecha
2025-01-05    12.809721
2025-01-12    14.952013
2025-01-19     8.875229
2025-01-26     4.986992
2025-02-02     6.351907


------------------------------------------------
D√≠as con temperatura por encima de 12¬∞C: 11

## üî¥ Ejercicio 9: Limpieza y Transformaci√≥n de Datos

Tienes un DataFrame "sucio" con datos de productos:

```python
datos_sucios = pd.DataFrame({
    'producto': ['  laptop  ', 'MOUSE', 'Teclado', 'laptop', 'mouse', '  Monitor'],
    'precio': ['1200‚Ç¨', '25', '45.50‚Ç¨', '1150', '30‚Ç¨', '350'],
    'stock': ['10', '  50  ', '30', '5', 'agotado', '15'],
    'categoria': ['Inform√°tica', 'inform√°tica', 'Inform√°tica', 'Inform√°tica', 'Inform√°tica', 'pantallas']
})
```

Limpia los datos:
1. Elimina espacios en blanco de 'producto' y convi√©rtelo a min√∫sculas
2. Limpia 'precio': elimina '‚Ç¨' y convierte a float
3. En 'stock', reemplaza 'agotado' con 0 y convierte a int
4. Estandariza 'categoria' a "Inform√°tica" o "Pantallas" (capitalizado)
5. Elimina productos duplicados (mismo nombre), manteniendo el de menor precio

In [ ]:
import pandas as pd
# Crear el DataFrame
datos_sucios = pd.DataFrame({
    'producto': ['  laptop  ', 'MOUSE', 'Teclado', 'laptop', 'mouse', '  Monitor'],
    'precio': ['1200‚Ç¨', '25', '45.50‚Ç¨', '1150', '30‚Ç¨', '350'],
    'stock': ['10', '  50  ', '30', '5', 'agotado', '15'],
    'categoria': ['Inform√°tica', 'inform√°tica', 'Inform√°tica', 'Inform√°tica', 'Inform√°tica', 'pantallas']
})

# Tu c√≥digo aqu√≠
# 1. Elimina espacios en blanco de 'producto' y convi√©rtelo a min√∫sculas
datos_sucios['producto'] = datos_sucios['producto'].str.strip().str.lower()
print(datos_sucios['producto'])
print("\n")
print("------------------------------------------------")
# 2. Limpia 'precio': elimina '‚Ç¨' y convierte a float
datos_sucios['precio'] = datos_sucios['precio'].str.replace('‚Ç¨', '').astype(float)
print(datos_sucios['precio'])
print("\n")
print("------------------------------------------------")
# 3. En 'stock', reemplaza 'agotado' con 0 y convierte a int
datos_sucios['stock'] = datos_sucios['stock'].str.replace('agotado', '0').astype(int)
print(datos_sucios['stock'])
print("\n")
print("------------------------------------------------")
# 4. Estandariza 'categoria' a "Inform√°tica" o "Pantallas" (capitalizado)
def estandarizar_categoria(categoria):
    if categoria.lower() == 'inform√°tica':
        return 'Inform√°tica'
    elif categoria.lower() == 'pantallas':
        return 'Pantallas'
    else:
        return categoria

datos_sucios['categoria'] = datos_sucios['categoria'].apply(estandarizar_categoria)
print(datos_sucios['categoria'])
print("\n")
print("------------------------------------------------")
# 5. Elimina productos duplicados (mismo nombre), manteniendo el de menor precio
datos_limpio = datos_sucios.drop_duplicates(subset='producto', keep='first')
print(datos_limpio)

0     laptop
1      mouse
2    teclado
3     laptop
4      mouse
5    monitor
Name: producto, dtype: object


------------------------------------------------
0    1200.0
1      25.0
2      45.5
3    1150.0
4      30.0
5     350.0
Name: precio, dtype: float64


------------------------------------------------
0    10
1    50
2    30
3     5
4     0
5    15
Name: stock, dtype: int64


------------------------------------------------
0    Inform√°tica
1    Inform√°tica
2    Inform√°tica
3    Inform√°tica
4    Inform√°tica
5      Pantallas
Name: categoria, dtype: object


------------------------------------------------
  producto  precio  stock    categoria
0   laptop  1200.0     10  Inform√°tica
1    mouse    25.0     50  Inform√°tica
2  teclado    45.5     30  Inform√°tica
5  monitor   350.0     15    Pantallas

## üî¥ Ejercicio 10: An√°lisis Completo de Ventas (Caso Real)

Analiza un dataset de ventas de una tienda online:

```python
np.random.seed(42)
n = 100

ventas_completo = pd.DataFrame({
    'Fecha': pd.date_range('2024-01-01', periods=n, freq='D'),
    'Producto': np.random.choice(['Laptop', 'Mouse', 'Teclado', 'Monitor', 'Auriculares'], n),
    'Cantidad': np.random.randint(1, 10, n),
    'Precio_Unitario': np.random.choice([599.99, 19.99, 45.50, 249.99, 79.99], n),
    'Descuento': np.random.choice([0, 0.05, 0.10, 0.15], n),
    'Cliente_Tipo': np.random.choice(['Nuevo', 'Recurrente'], n, p=[0.3, 0.7])
})
```

Realiza un an√°lisis completo:
1. Crea una columna 'Ingreso_Total' = Cantidad √ó Precio_Unitario √ó (1 - Descuento)
2. Calcula el ingreso total por tipo de producto
3. Encuentra el producto m√°s vendido (por cantidad de unidades)
4. Calcula el ticket promedio por tipo de cliente
5. Identifica el mes con mayores ingresos
6. Calcula qu√© porcentaje de las ventas tuvo descuento
7. Crea un resumen ejecutivo con las m√©tricas m√°s importantes

In [21]:
import pandas as pd
import numpy as np
# Crear el DataFrame
np.random.seed(42)
n = 100

ventas_completo = pd.DataFrame({
    'Fecha': pd.date_range('2024-01-01', periods=n, freq='D'),
    'Producto': np.random.choice(['Laptop', 'Mouse', 'Teclado', 'Monitor', 'Auriculares'], n),
    'Cantidad': np.random.randint(1, 10, n),
    'Precio_Unitario': np.random.choice([599.99, 19.99, 45.50, 249.99, 79.99], n),
    'Descuento': np.random.choice([0, 0.05, 0.10, 0.15], n),
    'Cliente_Tipo': np.random.choice(['Nuevo', 'Recurrente'], n, p=[0.3, 0.7])
})

# Tu c√≥digo aqu√≠
# 1. Crea una columna 'Ingreso_Total' = Cantidad √ó Precio_Unitario √ó (1 - Descuento)
ventas_completo['Ingreso_Total'] = ventas_completo['Cantidad'] * ventas_completo['Precio_Unitario'] * (1 - ventas_completo['Descuento'])
print(ventas_completo.head())
print("\n")
print("------------------------------------------------")
# 2. Calcula el ingreso total por tipo de producto
ingreso_total_producto = ventas_completo.groupby('Producto')['Ingreso_Total'].sum()
print(ingreso_total_producto)
print("\n")
print("------------------------------------------------")
# 3. Encuentra el producto m√°s vendido (por cantidad de unidades)
producto_mas_vendido = ventas_completo.groupby('Producto')['Cantidad'].sum().idxmax()
print(f"Producto m√°s vendido: {producto_mas_vendido}")
print("\n")
print("------------------------------------------------")
# 4. Calcula el ticket promedio por tipo de cliente
ticket_promedio_cliente = ventas_completo.groupby('Cliente_Tipo')['Ingreso_Total'].mean()
# 5. Identifica el mes con mayores ingresos
ventas_completo['Mes'] = ventas_completo['Fecha'].dt.month
ingresos_por_mes = ventas_completo.groupby('Mes')['Ingreso_Total'].sum()
mes_mayores_ingresos = ingresos_por_mes.idxmax()
print(f"Mes con mayores ingresos: {mes_mayores_ingresos}")
print("\n")
print("------------------------------------------------")
# 6. Calcula qu√© porcentaje de las ventas tuvo descuento
porcentaje_descuento = (ventas_completo['Descuento'] > 0).mean() * 100
print(f"Porcentaje de ventas con descuento: {porcentaje_descuento}%")
print("\n")
print("------------------------------------------------")
# 7. Crea un resumen ejecutivo con las m√©tricas m√°s importantes
resumen_ejecutivo = {
    'Ingreso_Total_Por_Producto': ingreso_total_producto,
    'Producto_Mas_Vendido': producto_mas_vendido,
    'Ticket_Promedio_Por_Tipo_Cliente': ticket_promedio_cliente,
    'Mes_Mayores_Ingresos': mes_mayores_ingresos,
    'Porcentaje_Ventas_Con_Descuento': porcentaje_descuento
}
print(resumen_ejecutivo)

       Fecha     Producto  Cantidad  Precio_Unitario  Descuento Cliente_Tipo  \
0 2024-01-01      Monitor         7           249.99       0.10        Nuevo
1 2024-01-02  Auriculares         9           249.99       0.00   Recurrente
2 2024-01-03      Teclado         8            45.50       0.00   Recurrente
3 2024-01-04  Auriculares         2           249.99       0.15   Recurrente
4 2024-01-05  Auriculares         1            45.50       0.10   Recurrente

   Ingreso_Total
0       1574.937
1       2249.910
2        364.000
3        424.983
4         40.950


------------------------------------------------
Producto
Auriculares    12223.7370
Laptop         29379.2565
Monitor        23256.0140
Mouse          34169.6885
Teclado        13314.7725
Name: Ingreso_Total, dtype: float64


------------------------------------------------
Producto m√°s vendido: Monitor


------------------------------------------------
Mes con mayores ingresos: 2


------------------------------------------------
Porcentaje de ventas con descuento: 80.0%


------------------------------------------------
{'Ingreso_Total_Por_Producto': Producto
Auriculares    12223.7370
Laptop         29379.2565
Monitor        23256.0140
Mouse          34169.6885
Teclado        13314.7725
Name: Ingreso_Total, dtype: float64, 'Producto_Mas_Vendido': 'Monitor', 'Ticket_Promedio_Por_Tipo_Cliente': Cliente_Tipo
Nuevo          958.664217
Recurrente    1194.050600
Name: Ingreso_Total, dtype: float64, 'Mes_Mayores_Ingresos': np.int32(2), 'Porcentaje_Ventas_Con_Descuento': np.float64(80.0)}

---

## ‚úÖ Finalizaci√≥n del Bolet√≠n

Se han completado los ejercicios de Pandas. Los temas cubiertos incluyen:
- ‚úÖ Series y DataFrames b√°sicos
- ‚úÖ Selecci√≥n, filtrado e indexaci√≥n
- ‚úÖ Estad√≠sticas descriptivas
- ‚úÖ Manejo de datos faltantes
- ‚úÖ Agrupaci√≥n y agregaci√≥n (GroupBy)
- ‚úÖ Combinaci√≥n de DataFrames (Merge/Join)
- ‚úÖ Series temporales y resampling
- ‚úÖ Limpieza y transformaci√≥n de datos
- ‚úÖ An√°lisis de datos del mundo real

**Siguientes pasos:**
- Practicar con datasets reales (Kaggle, datos.gob.es)
- Revisar las soluciones proporcionadas
- Aplicar los conceptos en an√°lisis de datos propios