In [ ]:


# Importar librer√≠as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuraci√≥n de visualizaci√≥n
plt.rcParams['figure.figsize'] = (10, 6)
sns.set_style('whitegrid')

# Verificar versiones
print(f"Pandas versi√≥n: {pd.__version__}")
print(f"NumPy versi√≥n: {np.__version__}")

## üü¢ Ejercicio 1: Primeros Pasos - Conociendo tus Datos

Carga el siguiente dataset de empleados y realiza una exploraci√≥n inicial:

```python
rng = np.random.default_rng(42)
df_empleados = pd.DataFrame({
    'nombre': ['Ana', 'Carlos', 'Mar√≠a', 'Pedro', 'Laura', 'Juan', 'Sof√≠a', 'Miguel', 'Elena', 'David'],
    'edad': [28, 35, None, 42, 31, 29, None, 38, 26, 45],
    'departamento': ['Ventas', 'IT', 'Ventas', 'RRHH', 'IT', 'Ventas', 'IT', 'RRHH', 'Marketing', 'IT'],
    'salario': [32000, 45000, 38000, 41000, 52000, 35000, 48000, 39000, 33000, 55000],
    'a√±os_empresa': [2, 8, 5, 12, 4, 3, 6, 9, 1, 15]
})
```

**Tareas:**
1. Muestra las dimensiones del dataset (filas y columnas)
2. Muestra los tipos de datos de cada columna
3. Muestra las primeras 5 filas
4. Usa `.info()` para ver un resumen completo
5. Identifica cu√°ntos valores faltantes hay en cada columna

In [ ]:
# Crear el DataFrame
import numpy as np
import pandas as pd

rng = np.random.default_rng(42)
df_empleados = pd.DataFrame({
    'nombre': ['Ana', 'Carlos', 'Mar√≠a', 'Pedro', 'Laura', 'Juan', 'Sof√≠a', 'Miguel', 'Elena', 'David'],
    'edad': [28, 35, None, 42, 31, 29, None, 38, 26, 45],
    'departamento': ['Ventas', 'IT', 'Ventas', 'RRHH', 'IT', 'Ventas', 'IT', 'RRHH', 'Marketing', 'IT'],
    'salario': [32000, 45000, 38000, 41000, 52000, 35000, 48000, 39000, 33000, 55000],
    'a√±os_empresa': [2, 8, 5, 12, 4, 3, 6, 9, 1, 15]
})

# Tu c√≥digo aqu√≠

# print(df_empleados)

# 1. Muestra las dimensiones del dataset (filas y columnas)
print(df_empleados.shape)
print("-------------------")
# 2. Muestra los tipos de datos de cada columna
print(df_empleados.dtypes)
print("-------------------")
# 3. Muestra las primeras 5 filas
print(df_empleados.head())
print("-------------------")
# 4. Usa `.info()` para ver un resumen completo
print(df_empleados.info())
print("-------------------")
# 5. Identifica cu√°ntos valores faltantes hay en cada columna
print(df_empleados.isnull().sum())

(10, 5)
-------------------
nombre           object
edad            float64
departamento     object
salario           int64
a√±os_empresa      int64
dtype: object
-------------------
   nombre  edad departamento  salario  a√±os_empresa
0     Ana  28.0       Ventas    32000             2
1  Carlos  35.0           IT    45000             8
2   Mar√≠a   NaN       Ventas    38000             5
3   Pedro  42.0         RRHH    41000            12
4   Laura  31.0           IT    52000             4
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nombre        10 non-null     object
 1   edad          8 non-null      float64
 2   departamento  10 non-null     object
 3   salario       10 non-null     int64
 4   a√±os_empresa  10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes
None
-------------------
nombre          0
edad            2
departamento    0
salario         0
a√±os_empresa    0
dtype: int64

## üü¢ Ejercicio 2: Estad√≠sticas Descriptivas

Usando el dataset de empleados del ejercicio anterior:

**Tareas:**
1. Calcula estad√≠sticas descriptivas de las columnas num√©ricas con `.describe()`
2. Calcula la media, mediana y desviaci√≥n est√°ndar del salario
3. Cuenta cu√°ntos empleados hay en cada departamento
4. Calcula el salario medio por departamento
5. Encuentra el empleado con mayor antig√ºedad

In [5]:
import numpy as np
import pandas as pd

rng = np.random.default_rng(42)
df_empleados = pd.DataFrame({
    'nombre': ['Ana', 'Carlos', 'Mar√≠a', 'Pedro', 'Laura', 'Juan', 'Sof√≠a', 'Miguel', 'Elena', 'David'],
    'edad': [28, 35, None, 42, 31, 29, None, 38, 26, 45],
    'departamento': ['Ventas', 'IT', 'Ventas', 'RRHH', 'IT', 'Ventas', 'IT', 'RRHH', 'Marketing', 'IT'],
    'salario': [32000, 45000, 38000, 41000, 52000, 35000, 48000, 39000, 33000, 55000],
    'a√±os_empresa': [2, 8, 5, 12, 4, 3, 6, 9, 1, 15]
})
# Tu c√≥digo aqu√≠

# 1. Calcula estad√≠sticas descriptivas de las columnas num√©ricas con `.describe()`
print(df_empleados.describe())

print("-------------------")
# 2. Calcula la media, mediana y desviaci√≥n est√°ndar del salario
print("Media del salario:", df_empleados['salario'].mean())
print("Mediana del salario:", df_empleados['salario'].median())
print("Desviaci√≥n est√°ndar del salario:", df_empleados['salario'].std())
print("-------------------")

# 3. Cuenta cu√°ntos empleados hay en cada departamento
print("Empleados por departamento:", df_empleados['departamento'].value_counts())
print("-------------------")

# 4. Calcula el salario medio por departamento
print("Salario medio por departamento:", df_empleados.groupby('departamento')['salario'].mean())

print("-------------------")
print("-------------------")
# 5. Encuentra el empleado con mayor antig√ºedad
print("Empleado con mayor antig√ºedad:", df_empleados.loc[df_empleados['a√±os_empresa'].idxmax()])

            edad       salario  a√±os_empresa
count   8.000000     10.000000     10.000000
mean   34.250000  41800.000000      6.500000
std     6.923046   7955.431408      4.503085
min    26.000000  32000.000000      1.000000
25%    28.750000  35750.000000      3.250000
50%    33.000000  40000.000000      5.500000
75%    39.000000  47250.000000      8.750000
max    45.000000  55000.000000     15.000000
-------------------
Media del salario: 41800.0
Mediana del salario: 40000.0
Desviaci√≥n est√°ndar del salario: 7955.431408094026
-------------------
Empleados por departamento: departamento
IT           4
Ventas       3
RRHH         2
Marketing    1
Name: count, dtype: int64
-------------------
Salario medio por departamento: departamento
IT           50000.0
Marketing    33000.0
RRHH         40000.0
Ventas       35000.0
Name: salario, dtype: float64
-------------------
-------------------
Empleado con mayor antig√ºedad: nombre          David
edad             45.0
departamento       IT
salario         55000
a√±os_empresa       15
Name: 9, dtype: object

## üü¢ Ejercicio 3: Detecci√≥n y Tratamiento de Valores Faltantes

Trabaja con el siguiente dataset que tiene varios valores faltantes:

```python
df_nulos = pd.DataFrame({
    'producto': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'precio': [100, None, 150, 120, None, 200, 180, None],
    'stock': [50, 30, None, 45, 60, None, 35, 40],
    'categoria': ['Electr√≥nica', 'Ropa', None, 'Electr√≥nica', 'Ropa', 'Hogar', None, 'Electr√≥nica'],
    'puntuacion': [4.5, 3.8, 4.2, None, 4.0, 4.7, None, 3.9]
})
```

**Tareas:**
1. Identifica el total de valores faltantes por columna
2. Calcula el porcentaje de valores faltantes por columna
3. Rellena los precios faltantes con la **mediana** de los precios
4. Rellena el stock faltante con **0**
5. Rellena la categor√≠a faltante con **'Sin categor√≠a'**
6. Rellena la puntuaci√≥n faltante con la **media**
7. Verifica que no queden valores faltantes

In [ ]:
# Crear el DataFrame
df_nulos = pd.DataFrame({
    'producto': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'precio': [100, None, 150, 120, None, 200, 180, None],
    'stock': [50, 30, None, 45, 60, None, 35, 40],
    'categoria': ['Electr√≥nica', 'Ropa', None, 'Electr√≥nica', 'Ropa', 'Hogar', None, 'Electr√≥nica'],
    'puntuacion': [4.5, 3.8, 4.2, None, 4.0, 4.7, None, 3.9]
})

# Tu c√≥digo aqu√≠

# 1. Identifica el total de valores faltantes por columna
print(df_nulos.isnull().sum())
print("-------------------")
# 2. Calcula el porcentaje de valores faltantes por columna
print(df_nulos.isnull().sum() / len(df_nulos) * 100)
print("-------------------")
# 3. Rellena los precios faltantes con la **mediana** de los precios
df_nulos['precio'] = df_nulos['precio'].fillna(df_nulos['precio'].median())

print("-------------------")
# 4. Rellena el stock faltante con **0**
df_nulos['stock'] = df_nulos['stock'].fillna(0)
print("-------------------")
# 5. Rellena la categor√≠a faltante con **'Sin categor√≠a'**
df_nulos['categoria'] = df_nulos['categoria'].fillna('Sin categor√≠a')
print("-------------------")
# 6. Rellena la puntuaci√≥n faltante con la **media**
df_nulos['puntuacion'] = df_nulos['puntuacion'].fillna(df_nulos['puntuacion'].mean())
print("-------------------")
# 7. Verifica que no queden valores faltantes
print(df_nulos.isnull().sum())

producto      0
precio        3
stock         2
categoria     2
puntuacion    2
dtype: int64
-------------------
producto       0.0
precio        37.5
stock         25.0
categoria     25.0
puntuacion    25.0
dtype: float64
-------------------
-------------------
-------------------
-------------------
-------------------
producto      0
precio        0
stock         0
categoria     0
puntuacion    0
dtype: int64

## üü¢ Ejercicio 4: Detecci√≥n y Eliminaci√≥n de Duplicados

Trabaja con el siguiente dataset que contiene registros duplicados:

```python
df_duplicados = pd.DataFrame({
    'cliente_id': [1, 2, 3, 2, 4, 3, 5, 1],
    'nombre': ['Ana', 'Carlos', 'Mar√≠a', 'Carlos', 'Pedro', 'Mar√≠a', 'Laura', 'Ana'],
    'email': ['ana@mail.com', 'carlos@mail.com', 'maria@mail.com', 'carlos@mail.com', 
              'pedro@mail.com', 'maria@mail.com', 'laura@mail.com', 'ana@mail.com'],
    'compras': [5, 3, 7, 3, 2, 8, 4, 6]
})
```

**Tareas:**
1. Identifica cu√°ntas filas duplicadas hay en total
2. Muestra las filas que son duplicados
3. Identifica duplicados solo por 'cliente_id'
4. Elimina los duplicados, manteniendo la **primera** aparici√≥n
5. Elimina duplicados por 'cliente_id', manteniendo el registro con m√°s compras

In [ ]:
# Crear el DataFrame
df_duplicados = pd.DataFrame({
    'cliente_id': [1, 2, 3, 2, 4, 3, 5, 1],
    'nombre': ['Ana', 'Carlos', 'Mar√≠a', 'Carlos', 'Pedro', 'Mar√≠a', 'Laura', 'Ana'],
    'email': ['ana@mail.com', 'carlos@mail.com', 'maria@mail.com', 'carlos@mail.com', 
              'pedro@mail.com', 'maria@mail.com', 'laura@mail.com', 'ana@mail.com'],
    'compras': [5, 3, 7, 3, 2, 8, 4, 6]
})

# Tu c√≥digo aqu√≠

## üü° Ejercicio 5: Visualizaci√≥n Exploratoria - Histogramas y Boxplots

Crea el siguiente dataset de salarios y realiza visualizaciones:

```python
rng = np.random.default_rng(42)
# Salarios normales
salarios_normales = rng.normal(35000, 8000, 95)
# A√±adimos algunos outliers (directivos)
salarios_outliers = np.array([100000, 120000, 150000, 200000, 250000])
salarios = np.concatenate([salarios_normales, salarios_outliers])

df_salarios = pd.DataFrame({'salario': salarios})
```

**Tareas:**
1. Crea un **histograma** de los salarios con 20 bins
2. A√±ade l√≠neas verticales para la media (roja) y la mediana (verde)
3. Crea un **boxplot** de los salarios
4. Identifica cu√°ntos outliers hay usando el m√©todo IQR (Q1 - 1.5*IQR, Q3 + 1.5*IQR)
5. Muestra los valores de los outliers detectados

In [ ]:
# Crear el DataFrame
rng = np.random.default_rng(42)
salarios_normales = rng.normal(35000, 8000, 95)
salarios_outliers = np.array([100000, 120000, 150000, 200000, 250000])
salarios = np.concatenate([salarios_normales, salarios_outliers])

df_salarios = pd.DataFrame({'salario': salarios})

# Tu c√≥digo aqu√≠

## üü° Ejercicio 6: Limpieza y Estandarizaci√≥n de Texto

Tienes un dataset con datos de texto inconsistentes:

```python
df_texto = pd.DataFrame({
    'ciudad': ['Madrid', 'madrid', 'MADRID', '  Barcelona  ', 'barcelna', 
               'Valencia', 'VALENCIA', ' Sevilla', 'sevila', 'Bilbao'],
    'categoria': ['electr√≥nica', 'ROPA', 'Hogar', 'electr√≥nica', 'ropa',
                  'HOGAR', 'Electronica', 'ropa', 'hogar', 'Electronica'],
    'ventas': [1500, 800, 1200, 950, 750, 1100, 1300, 600, 900, 1050]
})
```

**Tareas:**
1. Elimina espacios en blanco al inicio y final de 'ciudad'
2. Convierte 'ciudad' a formato capitalizado (primera letra may√∫scula)
3. Corrige los errores tipogr√°ficos ('barcelna' ‚Üí 'Barcelona', 'sevila' ‚Üí 'Sevilla')
4. Estandariza 'categoria' a formato capitalizado
5. Corrige 'Electronica' a 'Electr√≥nica' (con tilde)
6. Muestra las ventas totales por ciudad (despu√©s de limpiar)
7. Muestra las ventas totales por categor√≠a (despu√©s de limpiar)

In [ ]:
# Crear el DataFrame
df_texto = pd.DataFrame({
    'ciudad': ['Madrid', 'madrid', 'MADRID', '  Barcelona  ', 'barcelna', 
               'Valencia', 'VALENCIA', ' Sevilla', 'sevila', 'Bilbao'],
    'categoria': ['electr√≥nica', 'ROPA', 'Hogar', 'electr√≥nica', 'ropa',
                  'HOGAR', 'Electronica', 'ropa', 'hogar', 'Electronica'],
    'ventas': [1500, 800, 1200, 950, 750, 1100, 1300, 600, 900, 1050]
})

# Tu c√≥digo aqu√≠

## üü° Ejercicio 7: An√°lisis de Correlaciones

Crea un dataset con varias variables num√©ricas y analiza sus correlaciones:

```python
rng = np.random.default_rng(42)
n = 200

# Creamos variables con diferentes niveles de correlaci√≥n
experiencia = rng.uniform(0, 20, n)
educacion = rng.integers(1, 5, n)  # 1=Secundaria, 2=Grado, 3=Master, 4=Doctorado
salario = 20000 + experiencia * 2000 + educacion * 5000 + rng.normal(0, 5000, n)
horas_trabajo = 40 + rng.normal(0, 5, n)
satisfaccion = 5 + 0.3 * experiencia - 0.1 * horas_trabajo + rng.normal(0, 1, n)
satisfaccion = np.clip(satisfaccion, 1, 10)

df_correlaciones = pd.DataFrame({
    'experiencia': experiencia,
    'educacion': educacion,
    'salario': salario,
    'horas_trabajo': horas_trabajo,
    'satisfaccion': satisfaccion
})
```

**Tareas:**
1. Calcula la matriz de correlaci√≥n
2. Crea un **heatmap** de la matriz de correlaci√≥n con `sns.heatmap()`
3. Identifica las dos variables con mayor correlaci√≥n positiva
4. Identifica las dos variables con mayor correlaci√≥n negativa
5. Crea un **scatter plot** entre experiencia y salario, a√±adiendo una l√≠nea de tendencia

In [ ]:
# Crear el DataFrame
rng = np.random.default_rng(42)
n = 200

experiencia = rng.uniform(0, 20, n)
educacion = rng.integers(1, 5, n)
salario = 20000 + experiencia * 2000 + educacion * 5000 + rng.normal(0, 5000, n)
horas_trabajo = 40 + rng.normal(0, 5, n)
satisfaccion = 5 + 0.3 * experiencia - 0.1 * horas_trabajo + rng.normal(0, 1, n)
satisfaccion = np.clip(satisfaccion, 1, 10)

df_correlaciones = pd.DataFrame({
    'experiencia': experiencia,
    'educacion': educacion,
    'salario': salario,
    'horas_trabajo': horas_trabajo,
    'satisfaccion': satisfaccion
})

# Tu c√≥digo aqu√≠

## üü° Ejercicio 8: Tratamiento de Outliers

Trabaja con datos que contienen valores extremos:

```python
rng = np.random.default_rng(42)
# Datos con outliers intencionados
df_outliers = pd.DataFrame({
    'producto': ['P' + str(i) for i in range(1, 21)],
    'precio': [20, 25, 22, 28, 24, 500, 21, 26, -10, 23,
               27, 19, 25, 30, 22, 400, 24, 28, 26, -5],
    'unidades_vendidas': [100, 150, 120, 80, 200, 5, 130, 90, 110, 140,
                          95, 180, 160, 70, 145, 3, 125, 105, 155, 85]
})
```

**Tareas:**
1. Identifica outliers en 'precio' usando el m√©todo IQR
2. Identifica outliers l√≥gicos (precios negativos o mayores a 100‚Ç¨)
3. **Opci√≥n A**: Elimina las filas con outliers
4. **Opci√≥n B**: Reemplaza los outliers por los l√≠mites (winsorizaci√≥n)
5. **Opci√≥n C**: Reemplaza los outliers por la mediana
6. Compara las estad√≠sticas antes y despu√©s de cada tratamiento

In [ ]:
# Crear el DataFrame
rng = np.random.default_rng(42)
df_outliers = pd.DataFrame({
    'producto': ['P' + str(i) for i in range(1, 21)],
    'precio': [20, 25, 22, 28, 24, 500, 21, 26, -10, 23,
               27, 19, 25, 30, 22, 400, 24, 28, 26, -5],
    'unidades_vendidas': [100, 150, 120, 80, 200, 5, 130, 90, 110, 140,
                          95, 180, 160, 70, 145, 3, 125, 105, 155, 85]
})

# Tu c√≥digo aqu√≠

## üî¥ Ejercicio 9: An√°lisis Exploratorio Completo (EDA)

Realiza un EDA completo del siguiente dataset de ventas:

```python
rng = np.random.default_rng(42)
n = 500

df_ventas_eda = pd.DataFrame({
    'fecha': pd.date_range('2024-01-01', periods=n, freq='D'),
    'tienda': np.random.choice(['Madrid', 'Barcelona', 'Valencia', 'Sevilla'], n),
    'categoria': np.random.choice(['Electr√≥nica', 'Ropa', 'Hogar', 'Deportes'], n),
    'ventas': np.random.exponential(500, n) + 100,
    'unidades': rng.integers(1, 50, n),
    'descuento': np.random.choice([0, 5, 10, 15, 20], n)
})

# Introducir algunos valores nulos
df_ventas_eda.loc[np.random.choice(n, 20), 'ventas'] = np.nan
df_ventas_eda.loc[np.random.choice(n, 15), 'descuento'] = np.nan
```

**Tareas:**
1. **Exploraci√≥n inicial**: dimensiones, tipos de datos, primeras filas
2. **An√°lisis de nulos**: porcentaje y decisi√≥n de tratamiento
3. **Estad√≠sticas descriptivas** de variables num√©ricas
4. **An√°lisis de variables categ√≥ricas**: frecuencias por tienda y categor√≠a
5. **Visualizaciones**:
   - Histograma de ventas
   - Boxplot de ventas por tienda
   - Gr√°fico de barras de ventas totales por categor√≠a
6. **An√°lisis temporal**: ventas por mes
7. **Detectar outliers** en ventas y decidir qu√© hacer con ellos
8. **Conclusiones**: 3 hallazgos principales del an√°lisis

In [ ]:
# Crear el DataFrame
rng = np.random.default_rng(42)
n = 500

df_ventas_eda = pd.DataFrame({
    'fecha': pd.date_range('2024-01-01', periods=n, freq='D'),
    'tienda': np.random.choice(['Madrid', 'Barcelona', 'Valencia', 'Sevilla'], n),
    'categoria': np.random.choice(['Electr√≥nica', 'Ropa', 'Hogar', 'Deportes'], n),
    'ventas': np.random.exponential(500, n) + 100,
    'unidades': rng.integers(1, 50, n),
    'descuento': np.random.choice([0, 5, 10, 15, 20], n)
})

# Introducir algunos valores nulos
df_ventas_eda.loc[np.random.choice(n, 20), 'ventas'] = np.nan
df_ventas_eda.loc[np.random.choice(n, 15), 'descuento'] = np.nan

# Tu c√≥digo aqu√≠ - EXPLORACI√ìN INICIAL

In [ ]:
# Tu c√≥digo aqu√≠ - AN√ÅLISIS DE NULOS Y TRATAMIENTO

In [ ]:
# Tu c√≥digo aqu√≠ - ESTAD√çSTICAS Y VISUALIZACIONES

In [ ]:
# Tu c√≥digo aqu√≠ - AN√ÅLISIS TEMPORAL Y OUTLIERS

## üî¥ Ejercicio 10: Limpieza de un Dataset Real (Caso Pr√°ctico)

Tienes un dataset "sucio" de clientes que necesita una limpieza completa:

```python
df_sucio = pd.DataFrame({
    'cliente_id': [1, 2, 3, 4, 5, 2, 6, 7, 8, 3, 9, 10],
    'nombre': ['  Ana Garc√≠a  ', 'CARLOS RUIZ', 'mar√≠a L√≥pez', 'Pedro-S√°nchez', 
               'laura MARTINEZ', 'CARLOS RUIZ', '  Juan P√©rez', 'Sofia_Gomez',
               'Miguel Torres', 'mar√≠a L√≥pez', 'Elena Castro', 'David  Moreno'],
    'email': ['ana@mail.com', 'carlos@MAIL.COM', 'maria@mail', 'pedro@mail.com',
              'laura@mail.com', 'carlos@MAIL.COM', 'juan@mail.com', None,
              'miguel@mail.com', 'maria@mail', 'elena@mail.com', 'david@mail.com'],
    'edad': [28, 35, 42, -5, 31, 35, 150, 29, 38, 42, 26, 45],
    'ciudad': ['Madrid', 'barcelona', 'VALENCIA', 'Madrid', 'Madird',
               'barcelona', 'Sevilla', 'Bilbao', 'Malaga', 'VALENCIA',
               'Madrid', 'barcelna'],
    'ingresos_mensuales': [2500, 3500, 4000, None, 2800, 3500, 3200, 2900,
                          -1000, 4000, 2600, 50000],
    'fecha_registro': ['2023-01-15', '2023/02/20', '15-03-2023', '2023-04-10',
                       '2023.05.25', '2023/02/20', '2023-06-30', '07/15/2023',
                       '2023-08-05', '15-03-2023', '2023-09-12', '2023-10-01']
})
```

**Tareas de Limpieza:**
1. **Duplicados**: Elimina clientes duplicados por 'cliente_id'
2. **Nombres**: Limpia espacios, estandariza formato (Nombre Apellido)
3. **Emails**: Normaliza a min√∫sculas, identifica emails inv√°lidos (sin '@' o dominio)
4. **Edad**: Identifica valores imposibles (negativos o >120), reemplaza con NaN
5. **Ciudad**: Estandariza nombres, corrige errores tipogr√°ficos
6. **Ingresos**: Identifica outliers (negativos o extremadamente altos), decide tratamiento
7. **Fechas**: Unifica el formato de todas las fechas a 'YYYY-MM-DD'
8. **Reporte final**: Muestra un resumen del dataset limpio

In [ ]:
# Crear el DataFrame
df_sucio = pd.DataFrame({
    'cliente_id': [1, 2, 3, 4, 5, 2, 6, 7, 8, 3, 9, 10],
    'nombre': ['  Ana Garc√≠a  ', 'CARLOS RUIZ', 'mar√≠a L√≥pez', 'Pedro-S√°nchez', 
               'laura MARTINEZ', 'CARLOS RUIZ', '  Juan P√©rez', 'Sofia_Gomez',
               'Miguel Torres', 'mar√≠a L√≥pez', 'Elena Castro', 'David  Moreno'],
    'email': ['ana@mail.com', 'carlos@MAIL.COM', 'maria@mail', 'pedro@mail.com',
              'laura@mail.com', 'carlos@MAIL.COM', 'juan@mail.com', None,
              'miguel@mail.com', 'maria@mail', 'elena@mail.com', 'david@mail.com'],
    'edad': [28, 35, 42, -5, 31, 35, 150, 29, 38, 42, 26, 45],
    'ciudad': ['Madrid', 'barcelona', 'VALENCIA', 'Madrid', 'Madird',
               'barcelona', 'Sevilla', 'Bilbao', 'Malaga', 'VALENCIA',
               'Madrid', 'barcelna'],
    'ingresos_mensuales': [2500, 3500, 4000, None, 2800, 3500, 3200, 2900,
                          -1000, 4000, 2600, 50000],
    'fecha_registro': ['2023-01-15', '2023/02/20', '15-03-2023', '2023-04-10',
                       '2023.05.25', '2023/02/20', '2023-06-30', '07/15/2023',
                       '2023-08-05', '15-03-2023', '2023-09-12', '2023-10-01']
})

print("=== DATASET ORIGINAL (SUCIO) ===")
print(df_sucio)
print(f"\nDimensiones: {df_sucio.shape}")

# Tu c√≥digo de limpieza aqu√≠

In [ ]:
# Contin√∫a la limpieza aqu√≠

In [ ]:
# Reporte final del dataset limpio

---

## ‚úÖ Finalizaci√≥n del Bolet√≠n

Has completado los ejercicios de EDA y Limpieza de Datos. Los temas cubiertos incluyen:

- ‚úÖ Exploraci√≥n inicial de datasets (shape, dtypes, info, head)
- ‚úÖ Estad√≠sticas descriptivas (describe, mean, median, std)
- ‚úÖ Detecci√≥n y tratamiento de valores faltantes (isnull, fillna, dropna)
- ‚úÖ Detecci√≥n y eliminaci√≥n de duplicados (duplicated, drop_duplicates)
- ‚úÖ Visualizaci√≥n exploratoria (histogramas, boxplots, heatmaps)
- ‚úÖ Limpieza y estandarizaci√≥n de texto (strip, lower, replace)
- ‚úÖ An√°lisis de correlaciones
- ‚úÖ Detecci√≥n y tratamiento de outliers (m√©todo IQR)
- ‚úÖ EDA completo de un dataset
- ‚úÖ Limpieza integral de un dataset real

**Recuerda:** La limpieza de datos representa el 60-80% del trabajo en un proyecto de Data Science.
¬°Dominar estas t√©cnicas es fundamental!

**Siguientes pasos:**
- Practicar con datasets reales de Kaggle o datos.gob.es
- Revisar las soluciones proporcionadas
- Continuar con el Cap√≠tulo 2.2: Transformaci√≥n de Datos